[2014-05-18 08:41] agazzarini opened #1 "Create initial project layout"
Create initial maven multi-module structure for all components described in the architecture specs.

[2014-05-19 10:16] #1 closed, assigned to nobody

[2014-05-25 10:04] agazzarini opened #2 "Create tomcat deployment infrastructure (dev only)"
Each module (this is not valid for shared module which is a jar), can be deployed to an embedded tomcat by means of the corresponding Maven Tomcat plugin.

The plugin declaration is on the top level parent project, as all modules are basically web module. That avoids a lot of redundancy on each child pom.xml. At the same time each child module, in its pom, must declare the following local properti

[2014-05-25 10:18] #2 closed, assigned to agazzarini

[2014-05-27 13:04] agazzarini opened #3 "RDF-izer: asynch pipeline infrastructure"
The underlying pipeline will be implemented by means of Apache Camel (which in turns strongly relies on IOC features of Spring framework). The input route must be a file:/// component while the output will be a route with something like "addToTripleStoreProcessor"

[2014-05-27 13:05] agazzarini opened #4 "RDF-izer: conversion framework"
A task for creating a framework composed by a set of supertype layers with common and reusable behaviours for X2RDF conversion

[2014-05-27 13:08] agazzarini opened #5 "RDF-izer: add 2 RDF Store processor"
As final step, the pipeline will produce RDF triples that will be managed by a processor that in turns will send those results towards an RDF Store (i.e. Virtuoso).
Since Virtuoso (and the most part of RDF stores) has a REST interface for CRUD operations, maybe this processor can be implemented unaware about the specific RDF store.

[2014-05-27 13:08] agazzarini opened #6 "RDF-izer: MARC2RDF conversion rules"
Conversion rules from MARC to RDF

[2014-05-27 13:09] agazzarini opened #7 "RDF-izer: LIDO2RDF conversion rules"
Conversion rules from LIDO to RDF

[2014-05-27 13:09] agazzarini opened #8 "RDF-izer: DC2RDF conversion rules"
Conversion rules from DC to RDF

[2014-06-03 08:17] agazzarini opened #9 "Include a license file in artifacts"
As discussed in the Rome meeting, we will use GPL v3 for ALIADA tool. It has to be declared / included on the project and also in the built artifacts.

[2014-06-10 17:30] agazzarini opened #10 "RDF-izer: monitoring and management interface"
A management and monitoring interface implemented on top of RDF-izer by means of JMX. That interface will be exposed internally (or locally) using standard JMX procedures. External clients will have a REST interface for managing and monitoring the module remotely.

Note: the term interface here _does not_ refer to a Graphical User Interface.

[2014-06-11 14:03] agazzarini opened #11 "RDF-izer: REST interface"
The module will provide a RESTful interface for managing domain resources.

[2014-06-16 08:11] #9 closed, assigned to agazzarini

[2014-07-05 10:13] agazzarini opened #12 "FRBR entity detection"
At the moment we have (simple) detection rules for FRBR group 1, with a cardinalty equals to 1: that is, at the end of the detection process we have
- 1 Work
- 1 Expression
- 1 Manifestation

We need to
- add the Item detection entity
- add group 2 and 3 entities.

Those kind of entities have 0...\* as cardinality so we need to retain the information between a tag that determinated the entity dete

[2014-07-07 09:19] idoiamurua opened #13 "Links Discovery: REST interface"
The module will provide a RESTful interface for managing domain resources.

At the moment the Links Discovery component has just one REST service that can be used for creating a new links discovery job.

The service, according with REST procedures,

must be invoked using POST method.
must provide the identifier of the job that will be created
the identifier is supposed to be a valid integer.
http:

[2014-07-07 09:25] idoiamurua opened #14 "Links Discovery: Validate # generated links"
The # of generated links must be >= 50 so that the dataset can appear in the Open Linked Data Cloud.
To do such validation, SILK will be configured to generate two outputs:
1.- Insert the new sameAs triples in the SPARQL/UPDATE endpoint of the RDF store.
2.- Generate a temporary file with the new sameAs triples that have been generated by SILK, so that to be able to count how many have been genera

[2014-07-07 09:27] idoiamurua opened #15 "Links Discovery: SILK configuration files"
A configuration file for SILK per dataset in Open Linked Data, to link with, will be generated.

[2014-07-07 12:28] idoiamurua opened #16 "Links Discovery: Configure POM to use SILK 2.6.0 jar library"
In Maven central repository, it is version 2.5.3 version of SILK.
We need version 2.6.0 to do sparql updates correctly.

[2014-07-09 11:33] #13 closed, assigned to nobody

[2014-07-09 11:52] eturienzo opened #17 "User - interface: Validation files"
The input validation constist in check if the xml is wellformed, valid

[2014-07-09 11:54] eturienzo opened #18 "User - interface: user log for mandatory tags"
Create a user log to show the differents items that have not the corresponding mandatory tags

[2014-07-15 11:51] idoiamurua opened #19 "Shared Module: New rdfstore.RDFStoreDAO class"
Create a new class called rdfstore.RDFStoreDAO in the shared module.

This class offers by now the following methods:
- clearGraph(): for clearing the dataset when a new one wants to be loaded in aliada-tool. This function will be called by the UI before calling the RDFizer, for clearing the data loaded in a previous process.
- loadDataIntoGraph(): for loading triples in the RDF store. This functi

[2014-07-15 12:27] idoiamurua opened #20 "Linked Data Server: Validate URI dereferencing"
Once the LinkedDataServer has setup the URL rewrite rules of Virtuoso for the dataset URI dereferening, these URI dereferencing should be validated.
* For HTML
* For RDF
For example, by doing an HTTP GET of random URIs inside the dataset (of Works or LIDO objects).

[2014-07-15 12:32] idoiamurua opened #21 "Linked Data Server: REST interface"
The REST interface of the Linked Data Server component has been completed.
It offers the following services:

Create a new linked data server job:
method: POST
URL: /lds/job
parameters sent in a form: jobid=X
Get a links discovery job state/info:
method: GET
URL: /lds/job/X

[2014-07-15 12:32] #21 closed, assigned to nobody

[2014-07-16 09:52] agazzarini opened #22 "RDF-izer: Test suite"
Create a (unit) test suite for RDFizer classes with the following targets:
- line coverage: 90%
- branch coverage: 85%

[2014-07-23 17:47] #11 closed, assigned to agazzarini

[2014-07-23 17:56] #7 closed, assigned to agazzarini

[2014-07-23 17:56] #4 closed, assigned to agazzarini

[2014-07-23 17:56] #3 closed, assigned to agazzarini

[2014-07-23 19:40] #10 closed, assigned to agazzarini

[2014-07-26 11:28] agazzarini opened #23 "Change version on pom.xml(s) for 1st prototype"
The current version of modules is wrong (0.0.1 SNAPSHOT) while for 1st prototype we decide to use 1.0

[2014-07-28 11:00] cgareta opened #24 "RDF-izer: mapping from MARCXML"

[2014-08-01 13:17] #24 closed, assigned to cgareta

[2014-08-01 13:39] cgareta opened #25 "MARCXML-MAPPING: Parsing of MARC tag 300 (physical desc)"
@agazzarini @cgareta @eturienzo

This tag contains info about the physical description of the document. The most important subfields are the following:

300 $a: extent
300 $c: dimensions

Those data generate triples pointing to literals (number of pages, number of volumes, measures....). Literals can't be linked in the linked data cloud, but there could be institutions interested in publishing the

[2014-08-01 13:48] cgareta opened #26 "MARCXML-MAPPING: Parsing of optional MARC tags"
@tpossemato @eturienzo @emiliano-cammilletti

There are optional tags (according to FRBR rules) in the mapping excel. Could we omit them for the first prototype to reduce the number of tags that will be processed? Is it possible? Or do you consider that it's better to manage them at this stage of the project?

Anyway, there are tags like 500 (general note) that have not controlled information in n

[2014-08-01 13:51] cgareta opened #27 "MARCXML-MAPPING: Statement of responsability in MARC tags"
@tpossemato @idoiamurua @emiliano-cammilletti @eturienzo

Hi all, still about the E55_Type, I see it used a lot of time during the mapping but It's not clear (at least to me) the role of that type.

Example.

for 242c I see this in the mapping column

F3 Manifestation Product Type CLR6 should carry F24 Publication Expression P148 has component E33 Linguistic Object P2 has type E55 Type {“Statement

[2014-08-01 13:53] agazzarini opened #28 "MARCXML-MAPPING: Mapping for 242c (and fields that have similar mapping)"
@cgareta @tpossemato

Hi all, still about the E55_Type, I see it used a lot of time during the mapping but It's not clear (at least to me) the role of that type.

Example.

for 242c I see this in the mapping column

F3 Manifestation Product Type CLR6 should carry F24 Publication Expression P148 has component E33 Linguistic Object P2 has type E55 Type {“Statement of responsibility”}

I don't unders

[2014-08-01 13:55] #27 closed, assigned to cgareta

[2014-08-01 15:41] #12 closed, assigned to emiliano-cammilletti

[2014-08-12 08:11] #23 closed, assigned to agazzarini

[2014-08-19 06:48] agazzarini opened #29 "Linked Data Server and Links Discovery: modules installation (Wiki)"
@idoiamurua I created a page under the wiki (User Guide) where there's a first section with the installation steps of each module. Although we cannot provide download links at the moment (we don't have the deliverable artifacts) in the meantime it would be good to have all installation steps clearly defined.

Please have a look at that page, I already wrote down something about the common parts (e

[2014-08-19 06:49] agazzarini opened #30 "User - interface: module installation"
@scanbit @eturienzo  I created a page under the wiki (User Guide) where there's a first section with the installation steps of each module. Although we cannot provide download links at the moment (we don't have the deliverable artifacts) in the meantime it would be good to have all installation steps clearly defined.

Please have a look at that page, I already wrote down something about the common

[2014-08-27 06:43] #29 closed, assigned to idoiamurua

[2014-08-27 09:41] #5 closed, assigned to idoiamurua

[2014-08-29 05:23] agazzarini opened #31 "MARCXML-MAPPING: language mapping in Expression"
@cgareta @tpossemato
There are a lot of rules for the Expression (e.g. 100l, 110l, 111l, 240l) entity that say:

[code]

Could you please explain how to interpretate the phrase between parenthesis? Given E1 the following data
- <E1> is the URI assigned to the current Expression
- 100 $lita

What should be the resulting triple?

[2014-08-29 05:59] agazzarini opened #32 "MARCXML-MAPPING: authority mapping rules"
Hi @cgareta @tpossemato
the authority mapping rules is missing in the project workspace. Do you think it will be part of the first prototype?

@emiliano-cammilletti detected a lot of FRBR entities but I think they are pretty unuseful is we won't take in account authorities

[2014-08-29 11:12] #30 closed, assigned to scanbit

[2014-09-01 09:21] scanbit opened #33 "RDFizer: queryParseExcepetion"
Hi @agazzarini, you were right the error that gives me now it is not a numberFormatException that it's solved. But, it gives me a queryParseException error:

11:16:11,417 DEBUG [RDFizerResource] <RDF-IZER-00029> : A job creation request has been detected.
11:16:11,417 DEBUG [RDFizerResource] <RDF-IZER-00030> : Job creation request formally valid. Configuration ID is 105 and datafile is E:\Proyecto

[2014-09-01 09:47] agazzarini opened #34 "RDFizer: additional column in job_instances for graph name"
As briefly discussed, we need an additional column on RDFizer job table that will map the graph name assigned to a job.

At the moment the RDFizer uses the namespace column value as graph name. Once we get this additional column, the RDFizer will behave in this way:
- if the graph name column is not null then that value will be used
- otherwise the namespace column will act also as graph name.

[2014-09-01 10:15] #34 closed, assigned to agazzarini

[2014-09-01 11:28] agazzarini opened #35 "RDFizer: additional column in job_instances for graph name"
On rdfizer_job_instances we need 3 additional column for storing the RDFStore acces data.
Specifically
- sparql endpoint uri
- user
- password

[2014-09-01 11:31] #16 closed, assigned to idoiamurua

[2014-09-01 11:47] #35 closed, assigned to agazzarini

[2014-09-01 13:33] #15 closed, assigned to idoiamurua

[2014-09-01 13:46] idoiamurua opened #36 "RDFizer output validation"
The following validations must be carried out, according to D1.1 Requirements:

"The system shall provide some preconfigured SPARQL queries to check the generated
statements in the dataset to be published in the Linked Open Data cloud. Along with
a SPARQL end‐point to such dataset in order to executed the preconfigured queries.
The system shall check that the dataset contains at least 1000 triples

[2014-09-01 14:03] idoiamurua opened #37 "Links Discovery: ad hoc code for some datasets"
The following datasets do not provide an SPARQL endpoint, but an ad hoc API to do the searching of resources:

* Open Library: https://openlibrary.org/search?title=quijote&author=cervantes
* lobid: http://lobid.org/person?name=cervantes , http://lobid.org/organisation?name=cern , http://lobid.org/resource?name=quijote
* VIAF: http://viaf.org/viaf/search?query=cql.any+all+%22cervantes%22&sortKeys=h

[2014-09-02 12:29] #33 closed, assigned to agazzarini

[2014-09-03 08:12] scanbit opened #38 "Lido conversion"
Hi @agazzarini

I managed to RDFize a bibliographic file and it seems that it does well. But, I have problems making the same with a LIDO file. It starts well the process but then it gives me a error in the RESTSparqlInsertProcessor. You can find this LIDO file in: aliada-user-interface/src/main/resources/xmlFiles/lido_laPrimavera.xml

09:57:23,381 ERROR [RESTSparqlInsertProcessor] <RDF-IZER-00050

[2014-09-03 13:48] scanbit opened #39 "SQL exception launching RDFizer"
Hi @agazzarini

I pull the changes and I execute the latest script of the rdfizer tables and now I get a new error,a sql exception related to the timestamp.

15:40:26,968 DEBUG [RDFizerResource] <RDF-IZER-00029> : A job creation request has been detected.
15:40:27,468 ERROR [SqlExceptionHelper] Cannot convert value '0000-00-00 00:00:00' from column 4 to TIMESTAMP.
15:40:27,499 ERROR [RDFizerResour

[2014-09-03 14:22] #39 closed, assigned to nobody

[2014-09-03 14:23] #38 closed, assigned to agazzarini

[2014-09-03 15:30] scanbit opened #40 "RDFizer error with a bigger bibliographic file"
Hi @agazzarini

I have tried the RDFizer with another bibliographic file that has more than one record inside itself and it gives me this error on the log:

17:27:32,621 DEBUG [RDFizerResource] <RDF-IZER-00029> : A job creation request has been detected.
17:27:32,637 DEBUG [RDFizerResource] <RDF-IZER-00030> : Job creation request formally valid. Configuration ID is 11 and datafile is E:\Proyectos\

[2014-09-04 08:39] agazzarini opened #41 "RDFizer: prefixes should end with trailing /"
The configuration for each job includes some prefixes (graph name, namespace, aliada ontology) that the code assumes ending with a tralining slash. The code have to make sure this precondition, eventually appending that slash in case it is missing.

[2014-09-04 09:02] agazzarini opened #42 "RDFizer: template macro doesn't work for simple mapping with repeatable tags"
The shared macro in conversion templates doesn't work in case the tag is repeatable.

[2014-09-04 09:49] agazzarini opened #43 "MARCXML-MAPPING: Person entity detection"
@cgareta @tpossemato @emiliano-cammilletti
There's an incongruence between rules that have been implemented by @emiliano-cammilletti for detecting persons in a record

100 a-b-c-d-q-u
700 a-b-c-d-q-u

And the mapping rules I find in the excel, which seems to be related with tags 100 and 700

- What about the tag 700 tag? AFAIK they are also related with a Person
- What about the tag 600 in the exc

[2014-09-04 10:00] agazzarini opened #44 "MARCXML-MAPPING: Corporate Body entity detection"
@cgareta  @tpossemato @emiliano-cammilletti
There's an incongruence between rules that have been implemented by @emiliano-cammilletti for detecting persons in a record

100 a-c-d-g
700 a-c-d-g

And the mapping rules I find in the excel, which seems to be related with tags 110,111,533 and 600

Could you please explain who is right? The entity detection rules (@emiliano-cammilletti) or the excel fil

[2014-09-04 10:57] #40 closed, assigned to emiliano-cammilletti

[2014-09-04 10:58] #41 closed, assigned to agazzarini

[2014-09-04 10:58] #42 closed, assigned to agazzarini

[2014-09-04 11:27] scanbit opened #45 "Crash in the cache test"
Hi @emiliano-cammilletti I pulled the last version and now it's not able to build the project, it crashes in the cacheTest.

[2014-09-04 11:31] #45 closed, assigned to agazzarini

[2014-09-04 12:10] scanbit opened #46 "NullPointerException into the rdfizer"
When I call to the rdfizer process it crashes and and it returns a http error code 500. On the rdfizer log it shows this nullPointerException error:

14:06:00,900 DEBUG [RDFizerResource] <RDF-IZER-00029> : A job creation request has been detected.
sep 04, 2014 2:06:01 PM org.apache.catalina.core.StandardWrapperValve invoke
GRAVE: Servlet.service() for servlet [jersey] in context with path [/rdfize

[2014-09-04 13:08] #46 closed, assigned to agazzarini

[2014-09-04 13:30] scanbit opened #47 "RDFizer: queryParseException"
Hi @emiliano-cammilletti

I got this new queryParseException when I try to RDFize the same file.

15:25:34,716 DEBUG [RDFizerResource] <RDF-IZER-00029> : A job creation request has been detected.
15:25:34,732 DEBUG [RDFizerResource] <RDF-IZER-00030> : Job creation request formally valid. Configuration ID is 15 and datafile is E:\Proyectos\git\aliada-tool\aliada\aliada-user-interface\src\main\webap

[2014-09-04 14:06] #47 closed, assigned to emiliano-cammilletti

[2014-09-04 15:13] scanbit opened #48 "RDFizer: queryParseException with a LIDO file"
I got a new queryParseException with the same LIDO file I had used yesterday to test.

17:09:14,077 DEBUG [RDFizerResource] <RDF-IZER-00029> : A job creation request has been detected.
17:09:14,374 DEBUG [RDFizerResource] <RDF-IZER-00030> : Job creation request formally valid. Configuration ID is 31 and datafile is E:\Proyectos\git\aliada-tool\aliada\aliada-user-interface\src\main\webapp\tmp\lido_

[2014-09-04 15:20] #48 closed, assigned to agazzarini

[2014-09-04 15:41] scanbit opened #49 "RDFizer: another queryParseException"
Hi @agazzarini

I don't give you any rest, I have found another bug of the same type:

17:38:16,239 ERROR [RESTSparqlInsertProcessor] <RDF-IZER-00050> : RDF Store failure has been detected. See below for further details.
com.hp.hpl.jena.query.QueryParseException: Encountered " "." ". "" at line 35, column 2.
Was expecting:

[2014-09-04 15:47] #26 closed, assigned to cgareta

[2014-09-04 16:32] #49 closed, assigned to agazzarini

[2014-09-05 09:51] #44 closed, assigned to tpossemato

[2014-09-10 15:28] scanbit opened #50 "HTTP error code : 500"
Hi

I'm testing the application in the server and I get a HTTP error code : 500 when I try to start a job in the RDFizer. It does well the call to enable the RDFizer but when I try to start a job it crashes and it returns a code 500 error.

This is what the RDFizer log contains:

17:27:27,106 DEBUG [RDFizerResource] <RDF-IZER-00029> : A job creation request has been
detected.
17:27:27,271 DEBUG [R

[2014-09-11 07:42] #50 closed, assigned to nobody

[2014-09-11 07:56] scanbit opened #51 "RDF store failure"
Hi

Now, I can start the RDFizer process, but it isn't able to finish it.
It gives me a rdf store failure. Maybe it's because the last version uploaded to github has the clear graph lines omitted, so I uploaded this changes now

But, I don't know if you let me to execute the get_and_compile_code.sh to get the last version from github or there are some changes that aren't apply executing this.

Eve

[2014-09-11 10:09] #51 closed, assigned to nobody

[2014-09-11 10:21] scanbit opened #52 "Download last version"
I did some changes and I want to apply this changes in the server. There is any problem from your part if I download the last version from github to the server?

[2014-09-11 10:26] #52 closed, assigned to nobody

[2014-09-11 11:05] scanbit opened #53 "Link discovery doesn't return any info"
The RDFizer job seems to work well and after that I call the link discovery process, it looks to work well too. But, when I ask to get the information it doesn't return any info about the number of links generated or the status of the process.

This is what the stack returns in the link-discovery:

2014-09-11 12:52:27,929 INFO  <LinksDiscovery-00001> : LinksDiscovery is starting...
2014-09-11 12:5

[2014-09-11 13:31] #53 closed, assigned to nobody

[2014-09-15 13:04] scanbit opened #54 "Rdfizer returns xml with total records count -1"
Sometimes when I start the RDFizer and I ask to get the information of the process returns this xml:
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<job>
    <completed>true</completed>
    <format>marcxml</format>
    <id>85</id>
    <output-statements-count>0</output-statements-count>
    <processed-records-count>0</processed-records-count>
    <records-throughput>0.0</records-throughpu

[2014-09-18 09:08] scanbit opened #55 "RDFizer status return question"
Hi Andrea

Isn't there any possibility to be a case where the completed state is true and the running state is false but the triples production hasn’t been done yet in the RDFizer?

If there isn't that posibility I will check if completed is true and running false and in this case I will consider that the process has finished otherwise is still running. Do you agree?

[2014-09-18 11:06] #19 closed, assigned to idoiamurua

[2014-09-26 09:16] idoiamurua opened #56 "RDFizer LIDO conversion missing rdf:type ecrm:E22_Man-Made_Object"
When the RDFizer converts a LIDO record, it does not create the following triple:

[code]

[2014-09-30 08:34] idoiamurua opened #57 "RDFizer LIDO conversion: use uuid for LIDO entities"
Use always the same technique that used for frbr entities (i.e. uuid), to generate the LIDO entities URI-s.

[2014-10-03 07:47] scanbit opened #58 "I get an IO exception when I try to connect to the RDFizer"
Since yesterday afternoon doesn't RDFize files the aliada tool. The reason is that when I try to connect to the RDF-izer it returns a IO exception due to a connection time expiration.
And I don't know what can it be the reason of this timeout.

Any help will be welcome?

[2014-10-04 06:23] #54 closed, assigned to agazzarini

[2014-10-04 06:24] #58 closed, assigned to nobody

[2014-10-04 06:24] #55 closed, assigned to agazzarini

[2014-10-07 10:46] #57 closed, assigned to agazzarini

[2014-10-10 10:56] eturienzo opened #59 "How can we mark first release?"
The changes that we are doing along this month owned to the first release. How can we mark them? At the end of October, the prototype is the 1.1 version, isn't it?

[2014-10-10 11:21] cgareta opened #60 "Workflow: institutions,users, graphs, and urls"
This is the ALIADA's workflow scheduled for the 1st release:
- Data model:
- USER belongs to an INSTITUTION
- an INSTITUTION has several USERS
- an INSTITUTION has several GRAPHS (=“ORGANIZATIONS”)
- a USER can create several GRAPHS
- Possible graphs are:
              \* MARC AUTHORITIES+MARC BIBLIOGRAPHIC RECORDS or only MARC BIB.RECORDS
              \* LIDO
              \* DUBLIN CORE from CM

[2014-10-10 11:24] #60 closed, assigned to nobody

[2014-10-12 08:25] #56 closed, assigned to agazzarini

[2014-10-14 12:26] idoiamurua opened #61 "RDFizer LIDO conversion: P1_is_identified_by property for main object missing"
When converting a LIDO record into RDF triples, the RDFizer does not generate triples of the following form:

<#E22_Man-Made_Object_X>
  ecrm:P1_is_identified_by <#E41_Appellation_1>.

<#E41_Appellation_1>
  a E41_Appellation
  ecrm:P3_has_note "szepmuveszeti.hu_object_29".

[2014-11-11 10:51] idoiamurua opened #62 "RDFizer LIDO conversion: Correct some property names"
When converting a LIDO record into RDF triples, some CIDOC-CRM properties are wrongly spelled:
- P11_participated_in should be P11i_participated_in
- P4_has_time_span should be P4_has_time-span
- P107_is_current_or_former_member_of should be P107i_is_current_or_former_member_of
- P70B_is_documented_in should be P70i_is_documented_in
- P129B_is_subject_of should be P129i_is_subject_of
- P75B_is_pos

[2014-11-11 12:31] idoiamurua opened #63 "RDFizer LIDO conversion: lido:gml tags not translated into triples"
When the following LIDO XML tags appear:

[code]

it is not converted into RDF as:

[code]

[2014-11-12 13:08] idoiamurua opened #64 "RDFizer MARC conversion: Correct some property prefix"
When converting a MARC record into RDF triples, some properties have the incorrect prefix.
Properties that start with the prefixes "CL" or "R" should have the prefix "efrbroo" instead of "ecrm", as it is now.

[2014-11-14 09:10] #64 closed, assigned to agazzarini

[2014-11-14 09:11] #62 closed, assigned to agazzarini

[2014-11-14 09:12] #61 closed, assigned to agazzarini

[2014-11-15 15:51] #63 closed, assigned to agazzarini

[2014-11-17 10:46] idoiamurua opened #65 "RDFizer LIDO conversion: E39_Actor missing rdf_type"
When creating E39_Actor instances the associated rdf:type property is missing.

[2014-11-17 11:01] idoiamurua opened #66 "RDFizer LIDO conversion: Incorrect URI creation for E39_Actor instances"
When converting the following LIDO records into RDF:

https://github.com/ALIADA/aliada-tool/blob/master/aliada/aliada-rdfizer/src/test/resources/mfa_lido_20_presentation_en.xml

it only creates the following three E39_Actor instances, but there are more:
- /id/resource/E39_Actor/szepmuveszetimuzeum
- /id/resource/E39_Actor/173
- /id/resource/E39_Actor/234

[2014-11-17 13:14] idoiamurua opened #67 "RDFizer LIDO conversion: ecrm:P11_participated_in property not inserted"
The following LIDO tags:

[code]

should generate also the following triple:

[code]

[2014-11-17 13:17] idoiamurua opened #68 "RDFizer LIDO conversion: The E65_Creation instances are not created"
The E65_Creation instances mentioned in the LIDO mapping file are not created for some reason. The mapping file says:

[code]

[2014-11-17 13:51] #68 closed, assigned to agazzarini

[2014-11-17 14:14] #67 closed, assigned to agazzarini

[2014-11-17 14:48] #66 closed, assigned to agazzarini

[2014-11-17 14:48] #65 closed, assigned to agazzarini

[2014-11-17 15:19] idoiamurua opened #69 "RDFizer LIDO conversion: include time-span to event"
The following LIDO tags:

[code]

must be translated into the following RDF triples:

[code]

[2014-11-17 15:22] idoiamurua opened #70 "RDFizer LIDO conversion: include materials to event"
The following LIDO tags:

[code]

must be translated into the following RDF triples:

[code]

[2014-11-18 11:49] idoiamurua opened #71 "RDFizer LIDO conversion: #macro (aliada $literal) should search via SPARQL in ALIADA ontology"
When the LIDO tag lido:classification appears, its corresponding type in ALIADA ontology  should be searched for via SPARQL in the ALIADA ontology graph in Virtuoso, because, for example, if the following LIDO tag appears:

[code]

the corresponding triple to generate would be:

[code]

and not as it generates now:

[code]

[2014-11-20 09:27] #70 closed, assigned to nobody

[2014-11-20 10:12] #69 closed, assigned to nobody

[2014-11-22 09:49] #59 closed, assigned to nobody

[2014-11-25 15:04] #71 closed, assigned to agazzarini

[2014-11-25 15:05] #22 closed, assigned to agazzarini

[2014-11-26 09:12] idoiamurua opened #72 "RDFizer LIDO conversion: error when inserting triples"
I have just executed the RDFizer for converting LIDO, and it appears the following error in the log file:

[code]

[2014-11-26 18:05] #72 closed, assigned to agazzarini

[2014-11-27 08:21] idoiamurua opened #73 "RDFizer LIDO conversion: All LIDO objects rdf:type ecrm:E19_Physical_Object"
I do not know what "$function.lidoClass($main_subject))" function does now, but:
Could it assign class "ecrm:E19_Physical_Object" to all LIDO objects instead of deducing it from LIDO tags.
I have been talking with Adam, and a museum could contain non-made objects such as minerals, and the LIDO tags produced by that museum may not contain the CIDOC object it corresponds to, as they do in MFAB ( <li

[2014-12-01 10:09] #73 closed, assigned to agazzarini

[2014-12-12 18:05] #31 closed, assigned to cgareta

[2014-12-19 12:31] agazzarini opened #74 "Wrong entity detection in FRBR"
On top of a dataset of 10 record consisting in 4 different works, the entity detector normalises all of them into a single one work!

[2014-12-19 14:42] #74 closed, assigned to agazzarini

[2015-01-18 14:41] agazzarini opened #75 "RDF-izer: MARC authority conversion rules"
Once we get the mapping files, we need to create (on RDFizer side) the corresponding stuff for providing the appropriate conversion. That involves:

- execution pipeline (Apache Camel)
- conversion template (Apache Velocity)

[2015-01-18 14:46] agazzarini opened #76 "RDFizer: NLP usage"
As part of the final release we have to attach, somewhere in the conversion pipeline, a dedicated component for doing NLP analysis on some terms extracted from records. The NER results will be stored as RDF triples that will enrich the owning records.

[2015-01-20 15:18] cgareta opened #77 "RDFizer: marc conversion doesn't generate triples in the user interface"
After cleaning the graphs for marc triples, the conversion of marc xml files doesn't show any triple in the Check RDF screen. Could you perform a test using your marcxml files just to verify if the RDFizer is processing marc files?
Please, give the feedback to @xmolero
Best,
Cristina

[2015-01-21 15:25] xmolero commented on #77
The problem is that we perfom a test with a marcxml file and we don´t show any triple in the user interface. But in the SPARQL server (Virtuoso), if we make a request for triples, the server shows triples correctly.

[2015-01-21 16:55] agazzarini commented on #77
@xmolero as far as I remember the user interface, if you mean the ALIADA user interface, doesn't show the results of the conversion. However, even if it is so, I guess it does that by querying the triple store. So, if you say that the expected triples are on Virtuoso (executing a SPARQL query) I would say that the problem is in the interface, not in RDFizer.

Make sense?

[2015-01-21 16:57] agazzarini opened #78 "FRBR (remaining) entities detection"
When we spoke the last time, @cgareta told me that for this last phase we should map all FRBR entities. So this issue is for putting the required logic to do that into the RDFizer

[2015-01-22 15:40] xmolero commented on #77
@agazzarini how you perform the following operations: the records and the triples throughput?

[2015-01-22 15:42] agazzarini commented on #77
@xmolero those are simple operations like  (elapsed rec1 + elapsed rec2 + ...) / total records number . The same for triples

[2015-01-22 15:58] xmolero commented on #77
OK, thank you

[2015-01-22 15:58] #77 closed

[2015-01-30 11:26] idoiamurua opened #79 "User Interface: DB tables changed for Links Discovery module"
@eturienzo , @xmolero
Hi,
I have uploaded to Github several modifications in the following DB tables:

- `aliada`.`organisation`: removed field `linking_config_file`.
- `aliada`.`t_external_dataset`: added new fields to be used by Links Discovery Module.
- `aliada`.`linksdiscovery_job_instances`: removed field `config_file`

Could you please add a check-box control (by default NOT checked) in "Add

[2015-01-30 11:29] idoiamurua commented on #20
This is done by the "Query RDF dataset" page.

[2015-01-30 11:29] #20 closed

[2015-01-30 11:34] idoiamurua opened #80 "Links Discovery: New page for end-user to validate discovered links"
Create a new page for the end-user to check the discovered links and validate them.

[2015-01-30 11:38] idoiamurua opened #81 "Linked Data Server: Add new rewriting rules as Adam Horvath suggested"
The Linked Data Server modul must be extended with more URL rewriting rules as Adam Horvatt suggested.

[2015-01-30 11:42] idoiamurua opened #82 "Linked Data Server: Create a default HTML page for each dataset"
Create a default HTML page for each dataset which contains:

- the logo of the museum/libray
- a description of the dataset
- a link to the SPARQL endpoint

[2015-01-30 11:45] idoiamurua opened #83 "CKAN Datahub Page Creation: Implement module"
Implement CKAN Datahub Page Creation module.

[2015-02-06 08:39] idoiamurua opened #84 "DB tables new structure"
The dataset of ARTIUM (or any other organization/institution with one or several collections) could be organized as follows:

- http://data.artium.org/id/collections/library/bib/F1_Work/XXXXXX
- http://data.artium.org/id/collections/library/aut/CLASSNAME/XXXXXX
- http://data.artium.org/id/collections/museum/paintings/E19_Physical_Object/YYYYY
- http://data.artium.org/id/collections/museum/sculptur

[2015-02-06 12:56] idoiamurua opened #85 "UI and Links Discovery: User can select datasets to link with"
The UI and Links Discovery modules must be changed so that the end user can select the external datasets to link with.
This implies that the UI module will be the one that creates the `aliada`.`linksdiscovery_subjob_instances`, and not the LInksDiscovery module, as it was done in first prototype.

[2015-02-09 14:25] emiliano-cammilletti commented on #78
@cgareta I need the configuration file for new entities detection. Thanks in advance

[2015-02-10 18:04] cgareta commented on #78
I attach the first draft of the second part of the ALIADA mapping

Please, note that the Dublin core to RDF mapping is not finished

Best regards,

Cristina

De: emiliano-cammilletti [mailto:notifications@github.com]
Enviado el: lunes, 09 de febrero de 2015 15:25
Para: ALIADA/aliada-tool
CC: cgareta
Asunto: Re: [aliada-tool] FRBR (remaining) entities detection (#78)

@cgareta <https://github.com/c

[2015-02-11 11:05] agazzarini commented on #36
@idoiamurua I'd need your opinion about the following doubts:

- what about the results of this validation? Do they have to block the execution?
- Do they have to be stored somewhere (i.e. database)?

AG

[2015-02-11 11:22] idoiamurua commented on #36
In my opinion, in the case there are errors, they should be shown to the end user and let him decide wether to go on with the process or stop it.

[2015-02-11 12:50] agazzarini commented on #36
Ok, I could

a) create another table that will report the validation report, for each conversion job
b) Update the job status to "ERROR". At the moment it only happens if there's a conversion error. In this case no "pure" conversion error happened but instead some sample record violates some validation constraint

What do you think?

[2015-02-11 13:02] agazzarini commented on #36
In addition, @scanbit please keep in mind that there will be another web page where those errors have to be shown (in case the job is in error)

[2015-02-11 13:19] idoiamurua commented on #36
I would save the validation errors in another table, because they are related to the rules files used by the RDFizer and should be checked by a tool expert to improve the tool.
I understand that the other errors the RDFizer reports are related to other issues (connection, configuration, etc.)

[2015-02-11 13:37] agazzarini commented on #36
Yes yes, I meant that: another table (something like "rdfizer_validation_results") that will hold only the validation errors.

[2015-02-12 10:12] idoiamurua commented on #84
Move subset.isql_commands_file to dataset.isql_commmands_file

[2015-02-12 16:21] agazzarini commented on #36
I tried to use the Jena reasoner for validating the ontology together with a set of sample records. Bad news: if we want to use a rich inference model, we had to load the ontology completely (i.e. including the imported ontology)...and that leads to a perfect OOM: the ontology plus one (1) record need 2GB of RAM, a lot of CPU and takes a loooot of time :)

I think things are not so different using

[2015-02-13 08:14] idoiamurua commented on #36
A pñossible solution could be to use a lighter version of Aliada ontology, with no instances, which it is much more smaller, and which it is enough to validate that the classes and properties generated are correct.
Where do you need to be placed? Must it be a graph in Virtuoso or an HTTP URI?

[2015-02-13 08:38] agazzarini commented on #36
The Jena inference model allows to plug in a reasoner. That reason could an RDFS or an OWL compliant reasoner. The first one is very light but does few checks, while the OWL full compliant behaves as described in the previous post. There a middle way which represents a good compromise: OWLMicro and MiniReasoner. They seem to be faster. However, I have been only able to detect range and domain issu

[2015-02-13 08:50] idoiamurua commented on #36
Hi Andrea,

I know what you mean because it has happened to me. I do not know  if you will find anything that detects those cases …

Here I send to you the lightest version of Aliada ontology (the rest of associated files, efrbroo.owl, time.owl, etc. are the same). It is very light, as it has no instances inside it. That I, it does not have triples of the type:

    <skos:Concept rdf:about="&Conce

[2015-02-13 12:40] agazzarini commented on #36
@idoiamurua I tried to inject Pellet Reasoner in Jena...and now I got this error:

Exception in thread "main" org.mindswap.pellet.exceptions.InconsistentOntologyException: Cannot do reasoning with inconsistent ontologies!
Reason for inconsistency: Individual http://aliada-project.eu/2014/aliada-ontology/id/resource/Concept/MFAB/Department/18 is forced to belong to class http://www.w3.org/2004/02/s

[2015-02-13 12:54] idoiamurua commented on #36
Try checking the consistency with Aliada ontology version that has no instances in it, or just with http://erlangen-crm.org/efrbroo/ ontology.

[2015-02-13 13:41] agazzarini commented on #36
I already tried but it doesn't detect any error (with a sample record where I put some errors). Correct me if I'm wrong: I think that the only check that a reasoner could do are related with (probably there are some others)

- range check
- cardinality

Ex: if you declare

:xyz a foaf:Persona  .  (note the typo, I wrote that in Italian)
:xyz foaf:name "Andrea" .

This is perferctly valid because i

[2015-02-16 09:01] idoiamurua commented on #36
And have you tried with the Pellet OWL reasoner, as the Sesame committer mentions?

[2015-02-16 09:09] agazzarini commented on #36
Yes, it is not raising any issues if for example I use a wrong efrbroo
predicate (e.g. efrbroo:F1_Worka)

The only check I have been able to detect is the range check (I put a
literal instead of a reference)

On 02/16/2015 10:01 AM, Idoia wrote:

[2015-02-16 09:26] idoiamurua commented on #36
Can the resoner detectect that e.g.: the property <http://erlangen-crm.org/current/P102_has_title> is defined as:

<rdfs:domain rdf:resource="http://erlangen-crm.org/current/E71_Man-Made_Thing"/>
 <rdfs:range rdf:resource="http://erlangen-crm.org/current/E35_Title"/>

That is, when you generate a triple containing that predicate but with the range and/or domains not correct, e.g:
<Idoia> rdf:type

[2015-02-16 18:14] agazzarini commented on #36
I was able to detect a range violation only putting a literal instead of an entity

[2015-02-17 08:00] idoiamurua commented on #36
That is strange. How are you loading the ontology?
It may not be including the following imports:

        <owl:imports rdf:resource="http://erlangen-crm.org/efrbroo/"/>
        <owl:imports rdf:resource="http://www.w3.org/2003/01/geo/wgs84_pos"/>
        <owl:imports rdf:resource="http://www.w3.org/2006/time"/>
        <owl:imports rdf:resource="http://www.w3.org/2008/05/skos-xl"/>
        <owl:i

[2015-02-17 08:09] agazzarini commented on #36
I already loaded the ontologies one by one...I know, that should be a
stupid task but I don't see the light (yet)

On 02/17/2015 09:00 AM, Idoia wrote:

[2015-02-17 08:37] idoiamurua commented on #36
There is an example in Jena : http://jena.apache.org/documentation/inference/ (validation section):

     Model data = FileManager.get().loadModel(fname);
     InfModel infmodel = ModelFactory.createRDFSModel(data);
     ValidityReport validity = infmodel.validate();
     if (validity.isValid()) {
         System.out.println("OK");
     } else {
         System.out.println("Conflicts");
         f

[2015-02-17 08:40] agazzarini commented on #36
This doesn't detect anything :D

I was only able to detect a range error by using the OWLMicro /
MiniReasoner

On 02/17/2015 09:37 AM, Idoia wrote:

[2015-02-17 09:08] idoiamurua commented on #36
And with the OWL reasoner? Try this:

     //Load Aliada ontology
     Model schema = RDFDataMgr.loadModel("file:data/aliada-ontology.owl") ;
     // Read into an existing Model rest of imported ontologies
     RDFDataMgr.read(schema, "http://erlangen-crm.org/efrbroo/") ;
     RDFDataMgr.read(schema, "http://www.w3.org/2003/01/geo/wgs84_pos") ;
     RDFDataMgr.read(schema, "http://www.w3.org/2006/

[2015-02-17 10:05] agazzarini commented on #36
Maybe one day it will work...I executed these lines of code at 10:30 on
my server (8CPU), it is still running and one CPU is praying me: "Kill me"

Note: as a test dataset, I loaded only 1 record

On 02/17/2015 10:08 AM, Idoia wrote:

[2015-02-17 10:08] idoiamurua commented on #36
Did you load "aliada-ontology.owl" from the file I sent to you the other day?
Or are you loading it from the URI http://aliada-project.eu/2014/aliada-ontology#?

[2015-02-18 13:09] emiliano-cammilletti commented on #6
@idoiamurua I have some problems to write a proper mapping for triples like this:
F2 Expression (instantiated as E36 Visual Item P2 has type E55 Type {Cartographic image}) P138 represents {P138.1 has type E55 Type = “Scale”} E1 CRM Entity

How can I represent a "F2 Expression" that is (instantiated as E36 Visual Item P2 has type E55 Type {Cartographic image}). ?
What does it mean to "instantiated

[2015-02-18 14:17] idoiamurua commented on #6
Hi Emiliano,

I have reviewed the the MARC mapping file and I see that it also appears the following sentence:

F2 Expression (instantiated as E33 Linguistic Object)

which you have already translated into RDF triples as:

     <rdf:Description rdf:about="http://aliada.scanbit.net:8891/id/resource/F2_Expression/05a00079b45c3ac589aef2451cc78709">
           <rdf:type rdf:resource="http://erlangen-c

[2015-02-20 10:07] emiliano-cammilletti commented on #6
@tpossemato @cgareta @idoiamurua
I have some question about the mapping marc file:
1) The entities "F50 Controlled Access Point" and  "F51 Pursuit" are not present in the ontology.
2) The property "P14B performed" is not present as well, can I use "P14i performed"?

3) I have some problems to represent the triples for these types of mapping:
Example:
F2 Expression (instantiated as E36 Visual Item

[2015-02-20 11:03] agazzarini commented on #36
Yes, i tried both. After two hours the process was still running
My idea about this task is the following

- we cannot use an OWL reasoner to do that (at least OWL Mini or Micro)
- the RDF validation is a chimera. You can check only formal things like

1) Cardinality (which I don't see in our ontologies)
2) Disjunction and therefore unconsistent hierarchies (very hard to see this error)
3) usage o

[2015-02-20 11:27] idoiamurua commented on #6
1)Replace property "F50 Controlled Access Point" by "http://erlangen-crm.org/efrbroo/F13_Identifier".
Replace triple "E21_Person P14B_performed F51_Pursuit" by the following triple:
"E21_Person P14i_performed E7_Activity"

2) Yes. That is, replace property "P14B performed" by property "P14i performed".

3)F2 Expression (instantiated as E36 Visual Item P2 has type E55 Type {Cartographic image}) P13

[2015-02-20 13:13] emiliano-cammilletti commented on #6
@idoiamurua @tpossemato @cgareta
There are a lot of similar  predicates  ({P138.1 has type E55 Type = “Scale”}, {P16.1 mode of use: E55 Type = “supplemented work”} etc ) in  /aliada/src/site/analysis/mapping_marcxml_@Cult_v1.1.xlsx . I think @tpossemato and @cgareta wrote the file.

[2015-02-20 15:52] agazzarini commented on #36
Guys, I surrender.  Things should be easy, very easy, following this link:

http://jena.apache.org/documentation/inference/#validation

But I'm not able to detect any issue, even range / domain or other stupid things.
This is the code I'm using:

*** invalid.nt ***
[code]
And this is the code:

[code]

[2015-02-23 08:00] cgareta commented on #36
Hi,

perhaps we could look for a similar innovative project that is working on technologies like that

Best,

Cristina

De: Andrea Gazzarini [mailto:notifications@github.com]
Enviado el: viernes, 20 de febrero de 2015 12:04
Para: ALIADA/aliada-tool
CC: cgareta
Asunto: Re: [aliada-tool] RDFizer output validation (#36)

Yes, i tried both. After two hours the process was still running
My idea about t

[2015-02-23 08:22] cgareta commented on #6
Hi Emiliano,

1)      F50 Controlled access point: the person/corporate body or the subject can’t be used in a free way because the cataloguing agency selects a controlled name/term for that entities in order to avoid the duplication of headings in the catalogue. So, some tags doesn’t contain the term or the name that appears in the document, but they contains the controlled form of that name in t

[2015-02-23 08:36] agazzarini commented on #36
I think there's nothing innovative in such task....instead it is
something that is not so "valid" according with the RDF data model.

Jena had a tool for doing something like that, called Eyeball, which
seems no longer active.

On 02/23/2015 09:00 AM, cgareta wrote:

[2015-02-23 09:26] agazzarini commented on #76
I'm trying the Stanford NER library [1] which seems interesting. The only annoying thing is that it requries Java 8 so, after trying, if we decide to go for it, we could:

a) put this library on a separate tomcat which run with Java 8 and provide the NER service through HTTP
b) upgrade our JVM and use the library directly within the RDFizer

[2015-02-23 09:28] idoiamurua commented on #36
And if you ask for:

 if (validity.isClean()) {

instead of

 if (validity.isValid()) {

Does it alaso return "OK"?

[2015-02-23 09:30] agazzarini commented on #36
Yes,
that is clean and valid :(

This Eyeball should be what we need, but it seems they removed this
module, and also old versions are no longer downloadable

On 02/23/2015 10:28 AM, Idoia wrote:

[2015-02-23 09:40] idoiamurua commented on #36
And if you change the code specifying to use the RDFS_FULL reasoner:

[code]

[2015-02-23 09:44] idoiamurua commented on #6
@cgareta
When the following appears in the mapping excel file:

 {P138.1 has type E55 Type = “Scale”} E1 CRM Entity

Is P138.1 a "bug"? Did you or Tizziana write this?

[2015-02-23 10:11] idoiamurua commented on #81
The set URI can be the name of a subset of a dataset.

There should be a type parameter for the Set URI as well.

The VOID dataset can be identified by the domain part of the URI.
The VOID subset can be identified by the Set URI. Each dataset contains at least one subset.

[2015-02-23 10:34] agazzarini commented on #36
If I use RDFS_DEFAULT or SIMPLE then no check is done (i.e. valid and clean)
With RDFS_FULL the process is still running (started 40 mins ago)

Now, the question: how can we proceed with this task?

On 02/23/2015 10:40 AM, Idoia wrote:

[2015-02-23 12:29] idoiamurua commented on #36
I have used the OWLMicroReasoner and the following input invalid triples, and it gives me the following warning when asking if "isClean()":

...
     Conflicts
      - Warning ("range check"): "Literal value for object property (prop, value)"
     Culprit = http://www.szepmuveszeti.hu/id/resource/E19_Physical_Object/szepmuveszeti.hu_object_29
     Implicated node: http://erlangen-crm.org/current/P

[2015-02-23 12:36] agazzarini commented on #36
After how many hours? I have 8CPU and I'm running that process with 3GB
of RAM...the process is still running and one CPU is at 100%

On 02/23/2015 01:29 PM, Idoia wrote:

[2015-02-23 12:36] idoiamurua commented on #36
No. Just seconds!

[2015-02-23 12:39] agazzarini commented on #36
absurd...I copied and pasted your code :( Opening with JConsole, it
seems the thread is blocked in bindSchema()

Stack trace:
java.util.ArrayList.indexOf(ArrayList.java:297)
java.util.ArrayList.contains(ArrayList.java:281)
com.hp.hpl.jena.reasoner.rulesys.impl.RETEEngine.addTriple(RETEEngine.java:364)
    - locked com.hp.hpl.jena.reasoner.rulesys.impl.RETEEngine@4771c0b8
com.hp.hpl.jena.reasoner.r

[2015-02-23 12:41] idoiamurua commented on #36
Are you in debug mode? If I am in Debug mode it does never finish. If I just run it, it finishes in seconds.

[2015-02-23 12:42] agazzarini commented on #36
the same...maybe has something to do with some native component...I'm on
Linux

On 02/23/2015 01:41 PM, Idoia wrote:

[2015-02-23 12:48] idoiamurua commented on #36
I am in Windows.
I have something else different from you. I have just realised. I load all the *.owl files form the local file system:

		        Model schema = RDFDataMgr.loadModel("file:///D:/Proyectos/023779_ALIADA/Development/aliada-rdfizer/Ontology/aliada-ontology.owl") ;
		        RDFDataMgr.read(schema, "file:///D:/Proyectos/023779_ALIADA/Development/aliada-rdfizer/Ontology/efrbroo.owl") ;

[2015-02-23 12:49] agazzarini commented on #36
I don't think this is the problem...the process hangs on
reasoner.bindSchema(). Hoewever, i will try

On 02/23/2015 01:48 PM, Idoia wrote:

[2015-02-23 13:03] agazzarini commented on #36
g-o-i-n-g c-r-a-z-y!

On 02/23/2015 01:48 PM, Idoia wrote:

[2015-02-23 13:06] idoiamurua commented on #36
Are you using the OWLMicroReasoner and not debugging?

My whole code again. Just in case:

		        Model schema = RDFDataMgr.loadModel("file:///D:/Proyectos/023779_ALIADA/Development/aliada-rdfizer/Ontology/aliada-ontology.owl") ;
		        RDFDataMgr.read(schema, "file:///D:/Proyectos/023779_ALIADA/Development/aliada-rdfizer/Ontology/efrbroo.owl") ;
		        RDFDataMgr.read(schema, "file:///D:

[2015-02-23 13:28] agazzarini commented on #36
Yes. I see that the problem is in RETEEngine which is looping infinitely

   for (Iterator<Triple> i = *inserts*.find(new TriplePattern(null,
null, null)); i.hasNext(); ) {
       addTriple( i.next(), false );
   }

"inserts" is an empty graph so the loop never ends...

BTW: many thanks

On 02/23/2015 02:06 PM, Idoia wrote:

[2015-02-23 13:41] agazzarini commented on #36
A little step ahead...I was using a recent version of Jena (2.10.0) so I
reverted the pom.xml and now I'm with 2.6.4. The process still never
ends but the blocking point is on validate()

@Idoiamurua: what version of Jena are u using?

On 02/23/2015 02:06 PM, Idoia wrote:

[2015-02-23 13:59] idoiamurua commented on #36
I am using Jena 2.11.2, it seems it gets it from the maven repository. I cannot see it included in ALIADA global POM or in module LinksDiscovery POM (where I have coded this piece).

[2015-02-24 08:14] agazzarini commented on #76
@idoiamurua @scanbit  what do you think about the previous comment? I completed a first trial of that NER and, differently from other similar software (e.g. stanbol, opennlp), it works simply and without a big overhead. The product comes with several knowledge base dbs that are able to detect nouns and entities also in our records (I tried something in spanish and in hungarian)

However, as I said

[2015-02-24 08:26] idoiamurua commented on #76
Will we have any problems with Tomcat7 and Java 8?

[2015-02-24 08:28] agazzarini commented on #76
No I don't think

On 02/24/2015 09:26 AM, Idoia wrote:

[2015-02-24 08:30] idoiamurua commented on #76
@eturienzo What about Struts library?

[2015-02-24 08:36] agazzarini commented on #76
Theoretically there shouldn't be any problem at all. However, it would
be great if we could try our modules with Java 8

In addition, the EOL of Java7 is scheduled for next April so it will
have a short life.

Another alternative should be an additional tomcat providing those NER
services through HTTP.

On 02/24/2015 09:30 AM, Idoia wrote:

[2015-02-24 08:53] idoiamurua commented on #76
Shall we change the Java version in the Aliada POM to 8?
To do so, Is it enough to change the following lines in the POM?

		<maven.compiler.source>1.7</maven.compiler.source>
		<maven.compiler.target>1.7</maven.compiler.target>
		<java.version>1.7</java.version>

[2015-02-24 08:59] agazzarini commented on #76
Yes. That should be enough (assuming you have Java 8 installed)

On 02/24/2015 09:53 AM, Idoia wrote:

[2015-02-24 09:17] idoiamurua commented on #76
@scanbit @eturienzo @xmolero Could you make a try of the UI (struts) with Java 8?

[2015-02-24 09:27] eturienzo commented on #76
I am going to check it with th UI. When I finish, I will tell you

[2015-02-24 09:31] idoiamurua commented on #76
OK. I will try my code too.

[2015-02-24 09:45] eturienzo commented on #76
We have no problem with the change to JAVA8.

[2015-02-24 10:09] agazzarini commented on #76
Ok, @idoiamurua, if I remember the interlink uses java standalone
processes...if you have problem with Java8 you could always run them
with java 7

---------------------------

Regardless the path we will follow, let's assume that on top of 1 record
I detect 2 names and 1 place: where do we put this information? Do we
have to use the EFRBROO ontology? Because I think this information
should be kep

[2015-02-24 10:18] idoiamurua commented on #76
Yes. I do not think there is no problem with the Links Discovery Client application module.
I have just built all ALIADA modules with Java 8 in my PC and seems to give no problems.
I will change the Java version of the ALIADA POM in Github.

[2015-02-25 09:11] emiliano-cammilletti commented on #6
Hi @idoiamurua
I found these other items:

E55 Type = “supplemented work”
E55 Type = “Expected frequency”
E55 Type = “Expected regularity”
E55 Type = “Projection”
E55 Type = “Special characteristics”
E55 Type = “File characteristics”
E55 Type = “Summary”
E55 Type = “Scale”
E55 Type = “Distribution right”
E55 Type = “Physical medium”
E55 Type = “Capture mode”
E55 Type = “Physical medium”
E55 Type =

[2015-02-25 10:07] idoiamurua commented on #6
Could you specify for which class are those types used (e.g.: E55_Type = "Cartographic image" for <http://erlangen-crm.org/current/E36_Visual_Item>)?
That way, we can do a better taxonomy of the new types we define in ALIADA ontology.

[2015-02-25 10:09] agazzarini commented on #76
@cgareta @tpossemato could you please reply to this topic with a list of
the  most representative tags we should consider as NER input?

I need this lists separated by input format, so one for MARC, one for
LIDO and one for DC

thx

On 02/24/2015 09:26 AM, Idoia wrote:

[2015-02-25 11:10] emiliano-cammilletti commented on #6
@idoiamurua
 I copied the full definition mapping now. Thanks

F22 Self-Contained Expression R3B realises F18 Serial work P3 has note {P3.1 has type E55 Type = “Expected frequency”} E62 String
F22 Self-Contained Expression R3B realises F18 Serial work P3 has note {P3.1 has type E55 Type = “Expected regularity”} E62 String
F3 Manifestation Product Type P3 has note {P3.1 has type E55 Type = “Physica

[2015-02-25 12:22] idoiamurua commented on #6
@emiliano-cammilletti @cgareta @tpossemato
Problem: P3_has_note is a data property, it is not an object property so no additional properties can be associated to its value, as specified in mapping rules similar to the following one:
F3 Manifestation Product Type P3 has note {P3.1 has type E55 Type = “has an alternate”} E62 String

The E62_String class does not exist anymore in the last version of

[2015-02-25 13:59] emiliano-cammilletti commented on #8
@cgareta could you please give me an idea about when this mapping will be done? In the MARCXML excel file there's a sheet named DC...is that vaild? Thanks in advance

[2015-02-26 12:23] agazzarini commented on #76
@idoiamurua I'd like to know your opinion about where to store the named entities extracted with NER...do you know if any of the imported ontologies do have a suitable predicate for that?

[2015-02-26 13:42] agazzarini commented on #76
The knowledge model I'm using is able to detect

- Person
- Organization
- Places
- Dates
- Time
- and other things like Money which we aren't interesting

Ideally, we should transform those entities in triples maintaining their type but I'm not sure how to proceed. The ontology doesn't seem to provide suitable predicates for such scenario

[2015-02-26 14:12] idoiamurua commented on #76
I have sent an e-mail to Marta, she is not in the office today, about this issue. I proposed to her the following options:

 * CRM has the data property P3_has_note.

 * SKOS has the “Annotation Property” skos:scopeNote defined as :

       <owl:AnnotationProperty rdf:about="&skos;scopeNote">
            <rdfs:label xml:lang="en">scope note</rdfs:label>
            <definition xml:lang="en">A note

[2015-02-26 15:39] agazzarini commented on #76
Great! Many thanks. How can we distinguish between a Person and Place?

[2015-02-27 09:48] idoiamurua commented on #76
I have just been talking with Marta, because she confectionated Aliada ontology and we have been discussing about how can we add these new subjects.
She will look it more deeply, but now she is busy with other things. She hopes to answer by next Monday.
We have seen the next two other possible properties existing in Aliada ontology:

  * foaf:topic
         * domain foaf:Document . Problem: foaf_D

[2015-02-27 09:53] agazzarini commented on #76
Absolutely no rush at all. I have to prepare things in the codebase so
the triple production is the last thing.ù

Many thanks for your help

On 02/27/2015 10:48 AM, Idoia wrote:

[2015-03-02 07:54] agazzarini commented on #76
About the ecrm:P67_refers_to
I think it's not a problem is our entity don't belong to that doamin: it will when we say

:xyz ecrm:P67_refers_to E1_CRM_Entity

in this way, regardless what is xyz, it will became also an E89_Propositional_Object

What about the object? I mean imagine that I detected the place "Florence" ...how does the E1_CRM_Entity hold this literal value?  How can we typize that e

[2015-03-02 08:33] idoiamurua commented on #76
I have just made a trial creating the following two objects:

       <owl:NamedIndividual rdf:about="&efrbroo;NLPTrial_Object">
           <rdf:type rdf:resource="&ecrm;E19_Physical_Object"/>
           <rdf:type rdf:resource="&ecrm;E89_Propositional_Object"/>
       </owl:NamedIndividual>
      <owl:NamedIndividual rdf:about="&efrbroo;NLPTrial_Manif">
           <rdf:type rdf:resource="&ecrm;E89_

[2015-03-02 09:11] agazzarini commented on #76
This is another interesting question: what is the target entity? Work?
Expression? Manifestation?

I think @cgareta or @tpossemato could help us

On 03/02/2015 09:33 AM, Idoia wrote:

[2015-03-02 09:44] idoiamurua commented on #76
To distinguish between a Person, an Organization or a Place, we should create instances of type ecrm:E21_Person, ecrm:E39_Actor or a E53_Place respectivelly. Then add the corresponding object properties: ecrm:P131_is_identified_by, ecrm:P131_is_identified_by and ecrm:P87_is_identified_by, respectivelly, where the literals the NLP processor has found would be inserted.

[2015-03-02 11:40] cgareta commented on #76
Good question: work is the main entity, but catalogues are plenty of manifestations without tags at work level… Manifestation+item is the most common situation

De: Andrea Gazzarini [mailto:notifications@github.com]
Enviado el: lunes, 02 de marzo de 2015 10:11
Para: ALIADA/aliada-tool
CC: cgareta
Asunto: Re: [aliada-tool] RDFizer: NLP usage (#76)

This is another interesting question: what is the

[2015-03-02 11:44] agazzarini commented on #76
Hi Cristina,
many thanks for your prompt response.

I think it would be great to provide a simple map between tag/subfield and
the corresponding entities. For instance,

tag 500$a = Manifestation

That means: the outcoming entities (from a NER service execution that
received as input the text content of 500$a) must be assigned to
Manifestation level

Best
Andrea

2015-03-02 12:40 GMT+01:00 cgareta

[2015-03-02 11:51] tpossemato commented on #76
Hi Andrea, attached a document with a mapping of most used Marc21 tags for Work, Expression and Person/Family/Corporate body: all tags not included in the sheets, if coming from Marc21 bibliographic, has to be considered useful to identify manifestations.

So, generally speaking:

-              for Work, Expression and Person/Family/Corporate body: you need to consider at least authority data plu

[2015-03-02 11:54] agazzarini commented on #76
Tiziana, GitHub doesn't allow attachments in posts. Please send me the file
and I will submit to our repository

2015-03-02 12:51 GMT+01:00 tpossemato <notifications@github.com>:

[2015-03-02 12:27] cgareta commented on #76
That’s is in the mapping I sent. Do you need something more simple? A 2-column table?

Best

Cristina

De: Andrea Gazzarini [mailto:notifications@github.com]
Enviado el: lunes, 02 de marzo de 2015 12:45
Para: ALIADA/aliada-tool
CC: cgareta
Asunto: Re: [aliada-tool] RDFizer: NLP usage (#76)

Hi Cristina,
many thanks for your prompt response.

I think it would be great to provide a simple map betwee

[2015-03-02 12:30] cgareta commented on #76
Please, consider also the entities related to subjects:

-          Concept

-          Place

-          Event

-          Object

These entities are related to the work

Cristina

De: tpossemato [mailto:notifications@github.com]
Enviado el: lunes, 02 de marzo de 2015 12:52
Para: ALIADA/aliada-tool
CC: cgareta
Asunto: Re: [aliada-tool] RDFizer: NLP usage (#76)

Hi Andrea, attached a document with

[2015-03-02 12:36] agazzarini commented on #76
Ok @cgareta, yes I see.

Now, before seeing the attachment of Tiziana, in your file there are listed
a lot of tags, but as you know, we don't have to process all tags with NLP;
for that kind of recognition we need only those tag that do have a
reasonable amount of text, like notes.

Could you please list them?

Best,
Andrea

2015-03-02 13:30 GMT+01:00 cgareta <notifications@github.com>:

[2015-03-02 13:08] cgareta commented on #76
Are you going to process notes? Main notes are:

NOTE TYPE

MARC TAG

SUBFIELD

FRBR ENTITY

RELATIONSHIP

500 - General Note (R) Full | Concise

501 - With Note (R) Full | Concise

502 - Dissertation Note (R) Full | Concise

504 - Bibliography, etc. Note (R) Full | Concise

504

a

Work

Form of work

505 - Formatted Contents Note (R) Full | Concise

505

a

Expression

Summarization of content

[2015-03-02 14:04] agazzarini commented on #76
Sorry we need another dimension: the source format, because tags are valid
for marc but we need that also for lido and dc, too
On 2 Mar 2015 13:36, "Andrea Gazzarini" <a.gazzarini@gmail.com> wrote:

[2015-03-02 14:22] cgareta commented on #76
Ok, I will try to finish the revisión of the mapping from dc, but I don’t know if LIDO includes notes like marc notes

De: Andrea Gazzarini [mailto:notifications@github.com]
Enviado el: lunes, 02 de marzo de 2015 15:04
Para: ALIADA/aliada-tool
CC: cgareta
Asunto: Re: [aliada-tool] RDFizer: NLP usage (#76)

Sorry we need another dimension: the source format, because tags are valid
for marc but we n

[2015-03-02 16:23] tpossemato commented on #76
Andrea, see if the file I have sent you per e-mail  is what can help you: if yes, I'll continue tomorrow to complete the report.

[2015-03-03 09:05] idoiamurua opened #86 "RDFizer: namespace input parameter contains all the object ID prefix"
@agazzarini
We have changed the value of the "namespace" input parameter for the RDDFizer. Now it contains all the object URI prefix, and now the RDFizer only has to concatenate the class name and the object identification. That is, the namespace field in table `aliada`.`rdfizer_job_instances` may have the following values, e.g.:

http://aliada.scanbit.net:8891/id/
http://aliada.scanbit.net:8891/i

[2015-03-03 10:14] idoiamurua opened #87 "UI: check field values in dataset table"
@xmolero, @eturienzo
When the end-user enters the values for the following fields, the UI module will check that they do not contain the "/" character inside them. These fields may only contain alphanumeric characters:

* dataset.uri_id_part
* dataset.uri_doc_part
* dataset.uri_def_part
* dataset.uri_set_part

The following fields may contain the "/" character inside them:

* dataset.uri_concept_p

[2015-03-04 08:11] emiliano-cammilletti commented on #78
I implemented the detection for the new entities

[2015-03-04 08:11] #78 closed

[2015-03-04 10:56] emiliano-cammilletti commented on #8
@cgareta Any news?

[2015-03-04 10:59] idoiamurua commented on #76
Here is the mapping to use to save the named entities extracted with NLP:

 * OPTION 1 – Work & Expressions

The extracted named entities can be instances of skos:Concept (in ALIADA ontology skos:Concept is subclass of E55_Type, and so it is a E1_CRM_Entity) . The Work/Expression would be an instance of E89_PropositionalObject, and they would be related as follows:

E89_PropositionalObject

[2015-03-04 11:55] cgareta commented on #76
Hi all,

If we use only that level of entities we will lose a lot of attributes related to the manifestation (and finally to the bibliographic record because stored bibliographic records are usually manifestations), and the relationship to the item entity. I think that it’s not a good idea… but I have to read the explanation more slowly to be aware of the problem

@tiziana, what do you think about

[2015-03-04 12:18] idoiamurua commented on #76
@cgareta We are not going to remove anything. We are going to add new properties to the work, manifestation, item or whatever you decide to associate to the extracted named entity.

[2015-03-05 07:12] agazzarini commented on #76
Hi @idoiamurua @marta,
many thanks, sounds really good!

[2015-03-05 09:07] idoiamurua commented on #76
Regarding LIDO, the NLP should be applied to the following data propery:

ecrm:E19_Physical_Object	ecrm:P3_has_note	  xsd:string

These triples will be generated from the following tags in the LIDO records:

      <lido:lidoWrap xmlns:lido="http://www.lido-schema.org">
          <lido:lido>
               <lido:descriptiveMetadata xml:lang="en">
                     <lido:objectIdentificationWrap>

[2015-03-05 12:04] idoiamurua commented on #86
@agazzarini @emiliano-cammilletti
Is it enough to change the code lines I mentioned when I opened this issue?
If so, Will me, you or Emiliano change it?

[2015-03-05 13:06] agazzarini commented on #86
The VM_Global_Library.vm should have something to do with the URI generation

I don't have time at the moment, I'm working in parallel on issue #76
and #36 (https://github.com/ALIADA/aliada-tool/network)

On 03/05/2015 01:04 PM, Idoia wrote:

[2015-03-05 13:10] idoiamurua commented on #86
Yes. I mentioned a change in VM_Global_Library.vm and another ina a Java class.
Specifically I mentioned:

* method LidoMainSubjectDetectionRule.computeFrom, line #46.
			final StringBuilder builder = new StringBuilder(configuration.getNamespace()).append("id/resource/");
 * VM_global_library.vm, line #8.
#macro (prefix)${configuration.namespace}id/resource#end

[2015-03-05 13:19] agazzarini commented on #86
That should be enough

On 03/05/2015 02:10 PM, Idoia wrote:

[2015-03-05 13:19] idoiamurua commented on #86
OK. Any problem if I change that code?

[2015-03-05 13:21] agazzarini commented on #86
No no, absolutely

On 03/05/2015 02:19 PM, Idoia wrote:

[2015-03-05 14:16] agazzarini commented on #36
Update: using Java 8 I have the same your behaviour ;)

On 02/23/2015 02:59 PM, Idoia wrote:

[2015-03-05 14:19] idoiamurua commented on #36
Do you mean that it works in you computer?

[2015-03-05 14:21] #85 closed

[2015-03-05 14:22] #79 closed

[2015-03-05 14:22] #80 closed

[2015-03-05 14:27] #14 closed

[2015-03-05 16:11] agazzarini commented on #36
Yes!

[2015-03-06 16:04] tpossemato commented on #6
Hi Idoia,
because I'm not an expert on ECRM ontology, I try to find a solution to your problem with two different proposals (but really Im not sure about them), starting from the explanation that ECRM gives for P3 has note (Property), that is a data property:
Scope note: This property is a container for all informal descriptions about an object that have not been expressed in terms of CRM construc

[2015-03-09 12:22] idoiamurua commented on #6
@Tizziana, @Marta
Hi Tizziana,
Why did you select to use the P3_has_note property in the following mappings? Did you do it because you could not find any other properties in FRBRoo to reflect those MARC tags?

·         F22 Self-Contained Expression R3B realises F18 Serial work P3 has note {P3.1 has type E55 Type = “Expected frequency”} E62 String

·         F22 Self-Contained Expression R3B reali

[2015-03-09 15:10] idoiamurua commented on #37
@agazzarini

Could you give an example of the triples generated by the NLP component?
I need to know in which data property you store the Organisation/person name extracted. Is it in the ecrm:P3_has_note data property?
I will use that value to look for the corresponding Subject Heading in the Library of Congress.

[2015-03-09 15:14] agazzarini commented on #37
I will follow your suggestion so if I remember well yes, it is in a
P3:has_note data property (sorry it's not yet implemented)

On 03/09/2015 04:10 PM, Idoia wrote:

[2015-03-10 09:26] agazzarini commented on #36
Task has been closed after merging the development branch associated with this issue.
The Wiki section that describes the REST interface of the module, has been updated. therefore providing a description of the new information added on top of the getJob service.

[2015-03-10 09:26] #36 closed

[2015-03-10 10:09] agazzarini opened #91 "RDFizer : Entity Detection failure"
Hi @emiliano-cammilletti
The entity detection seems not working: I'm not able to detect any entity and in addition the message above (RDFIZER-000041) is printed twice (it shoulnd't)

[code]

[2015-03-10 11:03] agazzarini opened #92 "RDFizer: Immutable Node approach is wrong"
@emiliano-cammilletti the ImmutableNode decorator approach doesn't work: The XPATH processor internally assign a handle to each node and it fails when trying to get the reference of the ImmutableNode (it doesn't have such handle).

So, coming back to the original plan:

- we need a new method on Function that returns a string parameter escaped
- we need to replace all $node.getTextContent() or $no

[2015-03-10 12:24] cgareta commented on #37
Hi @agazzarini and @idoiamurua

Regarding the MARC tags and NLP: the most relevant note tag to process is the abstract-summary tag (520), and that is related to Expression entity. So, if @idoiamurua has to select Work-Expression group or Manifestation-Item group to do the NLP, I would select the first one, the Work-Expression group:

NOTE TYPE

TAG

SUBFIELD

FRBR ENTITY

RELATIONSHIP

500 - Gener

[2015-03-10 13:42] agazzarini commented on #76
Hi @idoiamurua sorry I lost your email about the question: few days ago you asked where we are going to put the literal for the extracted entities. Now that I'm implementing that stuff, I see that the things is wrapped as a concept. As consequence of that we should use skos:prefLabel instead of p3_has_note

Is that correct?

[2015-03-10 13:53] idoiamurua commented on #76
Yes. I was about to answer to you that it was better to use skos:prefLabel. The difference with ecrm:P3_has_note is that skos:prefLabel is a annotation property and ecrm:P3_has_note is a data property.
The e-mail you were looking for is in the following issue: https://github.com/ALIADA/aliada-tool/issues/37

[2015-03-10 13:53] agazzarini commented on #37
Hi @idoiamurua finally I found the issue :)

According with your suggestion I will produce these triples:
[code]

Now, I think that we should also say something like:

[code]
What do you think?

[2015-03-10 13:54] idoiamurua commented on #37
Yes. I agree!

[2015-03-10 14:00] agazzarini commented on #76
@idoiamurua I'm lost with the OPTION 2 above...could you please write down an example where the extracted entity is attached to a LIDO object?

[2015-03-10 14:02] tpossemato commented on #6
@idoiamurua and @Marta,
ok for the solution proposed by British Museum to add new subproperties of the ecrm:P3_has_note property. But, just to understand, why we cannot use P3.1 has type to differentiate specific notes, if this property is considered in the last version of ECRM ontology?

[2015-03-10 14:07] idoiamurua commented on #76
[code]
That is, you do not need to create any other rdf:type triple for the LIDO object, just add the ecrm:P137_exemplifies object property (the same applies to the manifestations).

[2015-03-10 14:08] agazzarini commented on #76
+1 Many thanks!

[2015-03-10 14:22] idoiamurua commented on #6
Just to clarify: "P3.1 has type" property does not exist. It is called P2_has_type. I do not know why it appears with that name in the mapping Excel file.
Besides this, such property (P2_has_type), cannot be associated to the P3_has_note. That is, with the current ECRM ontology we cannot write:

[code]

We can only write:
[code]

and it stops there.

Now, I have to check with Marta about creating

[2015-03-10 14:41] tpossemato commented on #6
I have found in a study, about the modelling of notes/annotations in an archaeology dataset, the following:
"The CRM has a modelling construct in the form of “properties of properties. For
example, property P3.has_note has a further property P3.1.has_type – intended to
model the distinction between different types of note. However, this construct does
not translate well to RDF. As evidence of this

[2015-03-10 15:06] cgareta commented on #6
Hi @idoiamurua

Is it not possible to use the following?

F24 Expression R5 has component F2 Expression {P2 has type E55 Type = “Summary”}

De: Idoia [mailto:notifications@github.com]
Enviado el: martes, 10 de marzo de 2015 15:22
Para: ALIADA/aliada-tool
CC: cgareta
Asunto: Re: [aliada-tool] RDF-izer: MARC2RDF conversion rules (#6)

Just to clarify: "P3.1 has type" property does not exist. It is c

[2015-03-11 08:19] idoiamurua commented on #6
@cgareta

Yes. the following is correct in the current ontology:
[code]
It would not be correct the following case:

[code]

[2015-03-11 08:33] cgareta commented on #6
But marc note 520 (summary) is related to the expression entity, so you can process it using

F24 Expression R5 has component F2 Expression {P2 has type E55 Type = “Summary”}

The other property, P3 has note, it’s related to the Manifestation. The summary is not a property at manifestation level, so you can use P2 for the summary info (and for the NLP processing)

De: Idoia [mailto:notifications@g

[2015-03-11 08:37] idoiamurua commented on #6
@cgareta

[code]

It was just an example to explain what it cannot be done with the data properties of the ontology. I was not talking about the mapping rules. Forget it please. Do not mix this isuue with NLP issue please.

[2015-03-11 08:42] cgareta commented on #6
Ok, I didn’t find the wrong case in the mapping so I don’t understand why you’re using P3 has note with the summary! ;)

Sorry, yesterday I was talking with Marta and I misunderstood the question

Best

Cristina

De: Idoia [mailto:notifications@github.com]
Enviado el: miércoles, 11 de marzo de 2015 9:37
Para: ALIADA/aliada-tool
CC: cgareta
Asunto: Re: [aliada-tool] RDF-izer: MARC2RDF conversion ru

[2015-03-11 08:52] idoiamurua commented on #6
Summarising:

The following mappings are correct:

[code]

The following mappings are not correct and we have to find another way of doing the mapping of these tags:
[code]

[2015-03-11 09:19] cgareta commented on #6
Hi,

@tiziana and me are using the mapping rules from the

http://www.loc.gov/marc/marc-functional-analysis/source/table3.pdf

and the FRBRoo ontology: http://www.cidoc-crm.org/docs/frbr_oo//frbr_docs/FRBRoo_V2.1_2015February.pdf <http://www.cidoc-crm.org/docs/frbr_oo/frbr_docs/FRBRoo_V2.1_2015February.pdf>

And notes at level of Manifestation should have P3 Property

De: Idoia [mailto:notificatio

[2015-03-11 09:50] agazzarini commented on #6
Hi @cgareta
My 2 cents: I think the ontology version must be the same we put in the
ontology, regardless if it is new or old. We need the same.

And as consequence of that, here come the questions:

- I started this topic last year (in 2014, in July) so how is it
possible the version you were using belongs to February 2015?
- why did you choose another version (different from that used in the
onto

[2015-03-11 09:50] idoiamurua commented on #6
The question is that in the latest version of CIDOC-CRM the E62_String is still existing and the mapping I just mentioned that were incorrect are possible according to it. (Sorry! :-( , I have just checked this in CIDOC-CRM site).
But the problem is that the "OWL version" of CIDOC-CRM we are using inside Aliada ontology (Erlangen version, http://erlangen-crm.org/changelog) supressed E62_String and

[2015-03-11 10:02] tpossemato commented on #6
@agazzarini
about the ontology version: both the actual (2015) and the previous version (we referred to the 1.0.2 of January 2012) consider valid this mapping, as @cgareta has said. The problem is in the OWL version of CIDOC_CRM we are using in Aliada, where the E62_String was suppressed, as we know. Ok, I think that in this case the best is (but we are waiting for Marta's ok) what @idoiamurua sug

[2015-03-11 10:06] cgareta commented on #6
I mentioned last version in my last post, but I have checked it in the printed version that we used and that point is the same…

De: Andrea Gazzarini [mailto:notifications@github.com]
Enviado el: miércoles, 11 de marzo de 2015 10:50
Para: ALIADA/aliada-tool
CC: cgareta
Asunto: Re: [aliada-tool] RDF-izer: MARC2RDF conversion rules (#6)

Hi @cgareta
My 2 cents: I think the ontology version must be t

[2015-03-11 10:25] emiliano-cammilletti commented on #92
I implemented the new function and I updated the files involved with the new function

[2015-03-11 10:25] #92 closed

[2015-03-11 10:33] emiliano-cammilletti commented on #91
Hi @agazzarini ,
Message printed twice:
There are twice routes mapped with entities detection in the pipeline.

Entity detection seems not working:
The record processed is not valid it hasn't a uniform title. We have to create a file with different records inside to do a more consistent tests.

[2015-03-11 10:33] #91 closed

[2015-03-11 17:26] agazzarini commented on #76
As part of the last two pushes, the NLP branch (along with its feature) has been merged into master.
I implemented that both in LIDO and in MARC. For this latter, I tried to detect entities only for few tags because that processing is very heavy, from a computational point of view. As consequence of that, I suggest: we should try to solve the performance issue raised by Adam and then increment the

[2015-03-11 17:26] #76 closed

[2015-03-12 13:19] agazzarini commented on #86
@idoiamurua can we close this?

[2015-03-12 13:29] idoiamurua commented on #86
I have not closed it yet because I wanted to test the changes I made for MARC in “eu.aliada.rdfizer.pipeline.format.lido.LidoMainSubjectDetectionRule.computeFrom()” method (LIDO changes in its mapping file are already tested).
I tried to do so last Friday, but as I commented to you by e-mail when I generated the new WAR file of the RDFizer module, the following message appeared in the rdfizer.log

[2015-03-12 14:15] xmolero commented on #86
No, it is the same version that you leave it.

[2015-03-13 13:40] xmolero commented on #87
The UI check the values correctly.

[2015-03-13 13:40] #87 closed

[2015-03-16 11:36] idoiamurua commented on #82
the logo is not inserted, because t is a very basic HTML page that should be customised by each organisation.

[2015-03-16 11:37] #82 closed

[2015-03-16 11:37] idoiamurua commented on #83
It is already implemented.

[2015-03-16 11:37] #83 closed

[2015-03-16 13:34] agazzarini commented on #8
@cgareta Any news?

[2015-03-16 13:37] #43 closed

[2015-03-16 13:42] #28 closed

[2015-03-16 13:42] #25 closed

[2015-03-16 13:44] agazzarini commented on #84
Hi guys,
be aware that as part of the issue #36 the database needs to be changed a bit. Specifically, the job_stats table has been changed (one additional column) and another table (for validation messages) has to be created.

[2015-03-16 13:45] agazzarini commented on #84
The ddl scripts have been changed in the master branch.

[2015-03-16 14:11] idoiamurua commented on #84
@xmolero Will you modify and create the new RDFizer table in aliada.scanbit.net machine?

May be the UI should show the new status fields values. Should't it Andrea?

[2015-03-16 14:15] xmolero commented on #84
Yes, I do

[2015-03-16 14:20] cgareta commented on #8
Work in progress!

De: Andrea Gazzarini [mailto:notifications@github.com]
Enviado el: lunes, 16 de marzo de 2015 14:34
Para: ALIADA/aliada-tool
CC: cgareta
Asunto: Re: [aliada-tool] RDF-izer: DC2RDF conversion rules (#8)

@cgareta <https://github.com/cgareta>  Any news?

—
Reply to this email directly or view it on GitHub <https://github.com/ALIADA/aliada-tool/issues/8#issuecomment-81666272> .  <h

[2015-03-16 14:34] agazzarini commented on #8
Ok, but please, I'd need a date in order to plan a bit when I'll have to do
that. Could you please give me an idea?

2015-03-16 15:20 GMT+01:00 cgareta <notifications@github.com>:

[2015-03-16 14:43] cgareta commented on #8
I’m going to try to finish it this week, probably today or tomorrow

De: Andrea Gazzarini [mailto:notifications@github.com]
Enviado el: lunes, 16 de marzo de 2015 15:35
Para: ALIADA/aliada-tool
CC: cgareta
Asunto: Re: [aliada-tool] RDF-izer: DC2RDF conversion rules (#8)

Ok, but please, I'd need a date in order to plan a bit when I'll have to do
that. Could you please give me an idea?

2015-03-16

[2015-03-17 11:56] idoiamurua commented on #81
The new URL rewriting rules are already added in aliada-tool.

[2015-03-17 11:56] #81 closed

[2015-03-24 17:12] agazzarini commented on #8
@cgareta could you please send me a DC example? Thx

[2015-03-24 17:22] agazzarini commented on #8
@cgareta (and maybe @idoiamurua) could you help me with this mapping file. Let's take for example the dc:identifier row: the "Statements" column reports

[code]

As usual, I have some trouble in getting the point about the triples that need to be generated. Assuming we have a file with just

[code]

What are the resulting triples?

[2015-03-25 08:36] idoiamurua commented on #8
Hi Andrea,

Here you have an example using ecrm:E73_Information_Object  class (it would be similar for ecrm:E33_Linguistic_Object):

[code]

<#ISMN> instance should be already created in ALIADA ontology.
Let us now (Marta and me) the E55_Type (= skosConcept) instances you need to be created.

[2015-03-25 11:20] agazzarini commented on #8
Ok, many thanks.

@cgareta I'm not able to find an example of a DC dump. Could you please send me an example file from Artium? As said, I'd need at least a file with 2 records

[2015-03-31 14:06] agazzarini commented on #8
Hi @idoiamurua,
what do you mean "<#ISMN> instance should be already created in ALIADA ontology."?

If that entity already exists, I shouldn't write these triples;

[code]

If I got you correctly #ISMN should be something like

[code]
So I don't have to write those triples, instead I can directly refer to that entity, Am I right?

[2015-03-31 14:11] idoiamurua commented on #8
Yes. You are right. Something similar has ocurred in other mappings of LIDO.

[2015-04-07 07:23] idoiamurua commented on #86
The changes done in the RDFizer regarding the URI prefix have already been tested.

[2015-04-07 07:23] #86 closed

[2015-04-07 07:26] idoiamurua commented on #37
The code to link with the following datasets, with no SPARQL endpoint, has already been developed:

* Open Library: https://openlibrary.org/search?title=quijote&author=cervantes
* lobid: http://lobid.org/person?name=cervantes , http://lobid.org/organisation?name=cern , http://lobid.org/resource?name=quijote
* VIAF: http://viaf.org/viaf/search?query=cql.any+all+%22cervantes%22&sortKeys=holdingscoun

[2015-04-07 07:27] #37 closed

[2015-04-14 08:22] agazzarini commented on #8
@cgareta (and hopefully @idoiamurua if you have time): I need some explanation about the following mappings:

1) dc:description
Apart the deprecated stuff, which is still here, I don't understand what needs to be done (subproperty?)
[code]

2) Actor
Here I'm very confused about the reported mappings (there are 2 mappings)
[code]

[code]

3) Publisher

[code]
-------------------------------
Could y

[2015-04-14 10:03] idoiamurua commented on #8
Hi Andrea and Cristina,

As we commented before with MARC (see issue #6), the FRBRoo ontology of Erlangen:

* supressed E62_String class.
* converted the P3_has_note from an object property to a data property in year 2010 (see http://erlangen-crm.org/changelog).
* there is no P3.1_has_type property. It is called P2_has_type.
* there is no P14.1_ in_the_role property.

So, the DC record sample that

[2015-04-14 10:23] agazzarini commented on #8
Wow, many thanks. I strongly agree!

[2015-04-15 08:25] idoiamurua opened #96 "RDFizer: Aliada ontology namespace ends with "#" instead of "/""
@agazzarini

Hi Andrea,

I was reviewing the mapping files "*.vm" to check which new types must be created in Aliada ontology (e.g.: http://aliada-project.eu/2014/aliada-ontology#id/resource/Concept/ISMN) and I have realised that the RDFizer has been associating via the ecrm:P2_has_type property ALIADA types with the following URI:
[code]
instead of:
[code]
That is, the Aliada type instances have

[2015-04-15 08:39] agazzarini commented on #96
Yes that's right: that value is read from the database so putting a # at
the end of the "aliada_ontology" column value should be enough. That
piece of code just ensure that the URL is ending with #. So ok, the
answer is yes

On 04/15/2015 10:25 AM, Idoia wrote:

[2015-04-15 08:45] idoiamurua commented on #96
And another place I see another thing to be changed related with this issue is in "marcxml.frbr.n3.vm" file. The following pieces of code:

[code]

should be:
[code]

because the "aliadaconcept" macro already adds the "concept/" string.

[2015-04-15 08:48] agazzarini commented on #96
Right, could you please open an issue or change & commit?

On 04/15/2015 10:46 AM, Idoia wrote:

[2015-04-15 08:52] idoiamurua commented on #96
The issue is opened.
Ok, I will change the things commented in this issue.

Regarding the new types defined in ALIADA ontology, I have checked them all gain and I have seen that some of them have the "#" symbol and another ones the "/" :-(
I will ask Marta to change the ontology and rename the instances so that all of them follow the same pattern.

[2015-04-15 08:58] agazzarini commented on #96
Ok

On 04/15/2015 10:52 AM, Idoia wrote:

[2015-04-15 10:30] idoiamurua commented on #96
@agazzarini
Another question regarding the types:

If you place the following URL in a Web browser:

http://aliada.scanbit.net:8891/id/collections/library/bib/E36_Visual_Item/11604

you will see that the generated type (P2_has_type) is:
http://aliada-project.eu/2014/aliada-ontology#/id/resource/Concept/ndigitalimagen

Why/Where does the RDFizer code add the "n" character in the beginning and end o

[2015-04-16 09:28] idoiamurua commented on #96
I have just solved this last problem regarding the `<lido:resource>` tag mapping.

The solution has been to replace the following line in `lido.n3.vm` file:
[code]

by:
[code]

[2015-04-16 09:52] agazzarini commented on #96
Great! Sorry, I overlooked your message

[2015-04-16 14:18] agazzarini commented on #96
Idoia can we close this issue? Sorry I'm a bit lost ;)

[2015-04-16 14:20] agazzarini commented on #84
Yes, sorry for delay in response. I updated the Wiki according with the new definition of the RDFizer tables (see the getJob service)

[2015-04-17 07:30] idoiamurua commented on #96
I am waiting till Marta changes the instances in Aliada ontology, otherwise I/we forget about it.

[2015-04-17 17:31] agazzarini commented on #6
I think we can close this issue

[2015-04-17 17:34] agazzarini commented on #8
The dc_mapping branch has been merged into master so the source code associated with this task is now finally available. That branch has been removed as we do not longer need that.

Wiki has been updated with the new information (brief description and configuration) about DC.

Thanks to @idoiamurua and @cgareta for supporting this pedantic guy ;)

[2015-04-17 17:34] #8 closed

[2015-04-17 17:48] agazzarini commented on #32
@tpossemato gave me the excel file with mapping rules for authorities so I think we can close this issue. I will commit that file under the repository, beside the other mapping files.

[2015-04-17 17:48] #32 closed

[2015-04-17 17:50] agazzarini commented on #96
Ok, BTW I agree with you with the uniform naming we should have in our URI (# or /)

[2015-04-17 17:51] agazzarini commented on #84
Did everybody / module commit the corresponding changes on the database? Because in case I think we can close the issue.

[2015-04-20 07:29] idoiamurua commented on #84
Yes. We can close it.

[2015-04-20 07:29] #84 closed

[2015-04-20 08:26] agazzarini commented on #75
Created (local at the moment) branch "l_auth_mapping"

[2015-04-20 08:27] idoiamurua commented on #6
I reopen it, because we are going to add the following P3_has_note subproperties in Aliada ontology, as the British Museum did:

* aliada:PX_expected_frequency
* aliada:PX_expected_regularity
* aliada:PX_physical_medium
* aliada:PX_capture_mode
* aliada:PX_playing_speed
* aliada:PX_reduction_ratio
* aliada:PX_system_requirements
* aliada:PX_special_characteristics
* aliada:PX_file_characteristics

[2015-04-20 08:28] agazzarini commented on #75
@tpossemato although I'm starting now with this issue, I'd need some sample record for validating the conversion task

[2015-04-20 08:32] agazzarini commented on #6
Ok, sorry for that: I didn't follow the discussion between you
@ecammilletti and @tpossemato

On 04/20/2015 10:27 AM, Idoia wrote:

[2015-04-20 08:34] idoiamurua commented on #6
No problem.
I am going to add these new properties and fix the Aliada type URIs right now.

[2015-04-20 09:06] agazzarini commented on #75
- Remote branch (r_auth_mapping) created
- Excel mapping file committed

[2015-04-20 14:09] idoiamurua opened #99 "RDFizer: VM_global_library.vm file bug"
@agazzarini

I have come across this line in the edn of "VM_global_librray.vm" file:

[code]

I think the "Darwin" string has come here with a copy/paste.

[2015-04-20 14:12] agazzarini commented on #99
Yes I think,
@ecammilletti what is this?

On 04/20/2015 04:09 PM, Idoia wrote:

[2015-04-20 14:13] idoiamurua commented on #99
I think it is related to the NLP process, the named entities detection part.

[2015-04-20 14:19] agazzarini commented on #99
Ahhhh ok, so Darwin has been "integrated" in the EFRBROO ontology....I
will propose that change :)

On 04/20/2015 04:13 PM, Idoia wrote:

[2015-04-20 14:21] idoiamurua commented on #99
:-)

[2015-04-20 14:29] idoiamurua opened #100 "RDFizer: dc.n3.vm bugs"
1. The $creator_s event used for the following dc labels:

* dc:creator
* dc:contributor
* dc:date

should be the same object, and not created every time those labels appear. The three labels refer to the same creation event $creator_s .

2.
[code]
should be:
[code]

3.

[code]
should be:
[code]

4.
[code]
should be:
[code]

[2015-04-22 09:25] idoiamurua commented on #96
Aliada ontology changed in Virtuoso.

[2015-04-22 09:25] #96 closed

[2015-04-22 09:31] idoiamurua commented on #100
May I do these corrections?

[2015-04-22 09:31] idoiamurua commented on #99
May I do this correction?

[2015-04-22 09:32] agazzarini commented on #100
Absolutely, I'm working on another branch so we won't have any conflict

On 04/22/2015 11:31 AM, Idoia wrote:

[2015-04-22 09:54] agazzarini commented on #99
Yes of course. Many thanks

On 04/22/2015 11:31 AM, Idoia wrote:

[2015-04-22 09:56] idoiamurua commented on #100
Bugs corrected.

[2015-04-22 09:56] #100 closed

[2015-04-22 09:56] idoiamurua commented on #99
Bugs corrected.

[2015-04-22 09:56] #99 closed

[2015-04-22 10:30] idoiamurua commented on #6
The above commented P3_has_note subproperties have been already added in Aliada ontology in Virtuoso.

Who adds the above mentioned MARC mappings in "marcxml.frbr.n3.vm" file?
I do not dare to touch this file ...

[2015-04-22 10:32] idoiamurua commented on #17
I think this issue can be closed.

[2015-04-22 10:32] #17 closed

[2015-04-22 10:34] idoiamurua commented on #18
@eturienzo , @xmolero
Can this issue be closed?

[2015-04-22 10:40] xmolero commented on #18
No, we have to do the mandatory tags from Dublin Core.

[2015-04-22 11:00] idoiamurua commented on #18
OK

[2015-04-22 11:13] agazzarini commented on #6
@ecammilletti is the assignee: tomorrow I will be in Rome so we will plan
this task
On 22 Apr 2015 12:30, "Idoia" <notifications@github.com> wrote:

[2015-04-22 12:43] agazzarini commented on #75
@tpossemato  The first row in the mapping file says :
[code]
but F38_Character is not a valid EFRBROO Class, so what is the correct mapping?

[2015-04-22 13:39] tpossemato commented on #75
In the first row I just reported the 'history' of class E21 Person, So, consider as corrct mapping the following:
Person = E21 Person

[2015-04-22 13:43] tpossemato commented on #75
I have a doubt about this: E21_Person has as equivalent (in EFRBRoo) F10_Person (that I used in the following rows)... what's the difference between one and the other and what's the best to use in this case?

[2015-04-22 13:46] agazzarini commented on #75
@idoiamurua any thoughts about this?

On 04/22/2015 03:43 PM, tpossemato wrote:

[2015-04-23 07:17] idoiamurua commented on #75
In EFRBRoo ontology (which includes CIDOC-CRM) it says:
[code]
That is, they are the same class. I do not why FRBRoo included F10_Person class, when the E21_Person class already existed in CIDOC. May be to explictly express that FRBRoo needs also a class to represent that kind of entity.

Summarising, you can use E21_Person.

[2015-04-24 09:12] agazzarini commented on #75
@tpossemato There are some rows in the mapping file where unexisting entities have been used.

377a, 372a: **F51 Pursuit** doesn't exist
368d: **F50 Controlled Access Point** doesn't exist
all rows associated with 500a: Refers to a class whose name starts with "F52" which doesn't exist
all rows associated with 100 3# Heading-Personal Name - Family Name: **F39_Family** doesn't exist

Could you plea

[2015-04-24 10:19] idoiamurua commented on #75
Instead of **F51 Pursuit** use the **ecrm:E7_Activity** more general class. **F51 Pursuit** class is included in the RDFS definition of the FRBRoo model in http://www.cidoc-crm.org/rdfs/FRBR2.0-draft-B.rdfs as:
[code]
But the class is not included in Erlangen FRBRoo OWL version.

The same applies for **F50 Controlled Access Point** class. Use **efrbroo:F13_Identifier** instead.
The same applies fo

[2015-04-24 10:51] agazzarini commented on #75
Ok, @idoiamurua. Thanks a lot!

2015-04-24 12:19 GMT+02:00 Idoia <notifications@github.com>:

[2015-04-24 11:09] idoiamurua commented on #75
And use **ecrm:P140_assigned_attribute_to** property instead of **R63 named** property in 500a tag.

[2015-04-28 06:35] agazzarini commented on #75
@tpossemato I have some questions about the 500 section. This is the first.

**Values of $i**
As far as I understood, the value of the $i subfield qualifies the relationship; so the question is: what kind of values we can find within this subfield? Is it a free text? In the first mapping you say, for example, _pseudonymous_. Do I have to look for this specific value? What about if the term is in S

[2015-04-28 09:51] tpossemato commented on #75
Hi Andrea, the page to see how the $i can be produced in the Marc21 authority is the following:
http://www.loc.gov/marc/authority/adtracing.html, with particulary attention to
$i - Relationship information
In the Marc21 authority format this field is a 'free text'... different is now in RDA, where the text is choosen from a list also published in Open Metadata Registry: see ofr example http://meta

[2015-04-28 12:24] tpossemato commented on #75
Hi @agazzarini,
in the EFRBRoo I didn't find any properties that summarizes all this type of relationships between entities (such as a generic 'is related to'). I'm sorry, but I don't know how solve this task.

[2015-04-28 14:10] agazzarini commented on #75
@idoiamurua any idea / suggestion? Briefly:  we have a tag which contains a kind of relation between the current resource and another. Since the relationship kind is expressed in the $i subfield in a unstructured way (it's a free text, could be everything), we cannot identify, as the mapping file reports, one mapping for each kind of relation.

Instead, we could create a set of triples describing

[2015-04-29 07:01] idoiamurua commented on #75
I think you refer to tag number 500? Do you refer to the following case?
![image](https://cloud.githubusercontent.com/assets/7601333/7385950/21efee6e-ee4e-11e4-937f-9cd315e7bd49.png)

@tpossemato Could you give us an example with values for that tag?
Otherwise, it is difficult to know how to map it.

[2015-04-30 07:22] agazzarini opened #103 "RDFizer benchmark"
I'm opening this issue after the mail sent by  @adampogany, just to trace information about benchmarks and performance.

I believe this is not strictly part of the 2nd prototype (which I think should have a full *functional* coverage) so I won't indicate a milestone; we will leave this issue open just to accumulate tests, comments, feedbacks and (eventually) fixes.

However, the namespaces support

[2015-04-30 07:27] agazzarini commented on #103
At a first try, the RDFizer seems to manage well its own resources. I think the main drawback can be found in the wide XPATH usage. Anyway, as you can see the system is almost stable, as the memory (I explicitly given less than 1GB of Xmx) and the garbage collector have a regular cicle.

Also (second screenshot) the stats seems to be quite stable. Actually I'd like to speed up a lot the process, b

[2015-04-30 07:42] xmolero opened #104 "RDFizer is done sequentially"
This is a problem because when two users or more did the test in the tool, the second one have to wait the first check conversion.

The RDizer must have a REST interface that can be invoked as many times as you want, in parallel.

Could you try with you users, @agazzarini ?

![screenshot - 30_04_2015 9_38_14](https://cloud.githubusercontent.com/assets/10447860/7408392/b7653246-ef1c-11e4-97a3-86856

[2015-04-30 07:48] agazzarini commented on #104
I found several points where HTTP timeout wasn't set. Now it is set but the question you raised has little to do with RDFizer...it is a matter of the ALIADA architecture.

The problem is not in the RDFizer itself, but resides in the outbound HTTP connections the RDFizer is making towards external resources (i.e. SPARQL endpoint). Those are I/O connections and therefore are blocking the thread that

[2015-04-30 08:00] xmolero commented on #103
You don´t have problems with java heap memory or used memory, @agazzarini?

When I did some conversions, Aliada server increase and increase the used memory and finally one conversion went slowly and it didn´t finish.

![screenshot - 30_04_2015 9_53_53](https://cloud.githubusercontent.com/assets/10447860/7408679/9a5fb678-ef1f-11e4-8f93-749eb854ed95.png)

[2015-04-30 08:06] agazzarini commented on #103
No, what are the VM parameters (Xms Xmx etc)? I'm running with (about)
800MB of heap and no, I don't have any problem at all. Performances are
another matter, but the process is stable

On 04/30/2015 10:00 AM, xmolero wrote:

[2015-04-30 08:10] xmolero commented on #103
These are the VM parameters:
JAVA_OPTS="-d64 -Xms2000m -Xmx4000m -log4j.configuration=file:///usr/share/tomcat/conf/log4j.xml"

[2015-04-30 08:20] agazzarini commented on #103
How many records are you trying to translate? If that is not so big,
could you please send me that file?

On 04/30/2015 10:00 AM, xmolero wrote:

[2015-04-30 08:28] xmolero commented on #103
10000 records but we have 9 files more like this to do the conversion.
I send you an email with the file.
Thanks a lot!

[2015-04-30 10:39] agazzarini commented on #103
I added a cache-mode in the templating engine settings which was the actual concrete problem. However, as far as I understand we have the following issues in terms of bottlenecks:

a) proper pipelines configuration
It's not possible to determine dynamically the numer of consumers (i.e. threads) that are listen on a given channel. So maybe the current setting could be too minimal or too large

b) N

[2015-04-30 11:11] idoiamurua commented on #104
I am examining Virtuoso configuration file trying to find some parameter that can improve the server performance, and therefore the time to answer to the SPARQL queries.

[2015-04-30 11:42] agazzarini commented on #104
@idoiamurua keep in mind that (at least this is valid for me), my
environment is not so real: a huge loss of time in I/O ops is expected,
as Virtuoso is a remote system. In an ideal situation, I suppose ALIADA
and Virtuoso should be on the same network

On 04/30/2015 01:11 PM, Idoia wrote:

[2015-04-30 11:44] idoiamurua commented on #104
Yes. But as Xabier comments it also happens in aliada.scnabit.net machine, where the ALIADA tool and the Virtuoso server are installed togeteher.

[2015-04-30 12:12] idoiamurua commented on #104
I have just changed NumberOfBuffers and MaxDirtyBuffers parameter values in "virtuoso.ini" file and restarted Virtuoso in aliada.scanbit.net.

I have put the values recommended in http://virtuoso.openlinksw.com/dataspace/doc/dav/wiki/Main/VirtRDFPerformanceTuning, and considering that the machine has 8 GB of RAM.

@xmolero Do you notice any difference?

[2015-04-30 12:19] xmolero commented on #104
No, because each conversion also increases the used memory.

![screenshot - 30_04_2015 14_15_54](https://cloud.githubusercontent.com/assets/10447860/7412514/f4f2fe82-ef43-11e4-9409-945beb748c42.png)

[2015-04-30 12:34] agazzarini commented on #104
Hi Xabier,
sorry but that means nothing. The memory is something that has to be
used so that screenshot could mean everything.
Could you please explain us what are you doing? Something more about
your context? Things like:

- are you running the latest version?
- are you able to complete at least one job?
- how many records in that job?
- are you getting OOM?
- what the log is saying?

Thanks
Andr

[2015-04-30 12:57] idoiamurua commented on #104
Next Monday I will try to install the latest and stable version of Virtuoso 7.2, where they have fixed memory leaks.

[2015-04-30 13:34] xmolero commented on #104
That is! The memory leaks are the problem and when the conversion run in the server increase the used memory but then not released the memory.

I am running the latest version. The conversion isn´t possible with 10000 records and the process goes slowly.

[2015-04-30 15:08] agazzarini commented on #6
just for info @emiliano-cammilletti will complete this task next week

[2015-05-04 10:35] idoiamurua commented on #75
@tpossemato Could you give us examples of the following cases of tag "500":

500	a $i (has current member)
500	a $i (has former member)
500	a $i (is part of)
500	a $i (known as)

[2015-05-04 13:36] idoiamurua commented on #104
I have just nstalled Virtuoso 07.20.3212 in aliada.scanbit.net machine.

[2015-05-04 13:41] xmolero commented on #104
It doesn´t fix the problem, the server increase the used memory and not release the memory.

[2015-05-04 13:44] idoiamurua commented on #104
The RDFizer is giving the following error in "/var/log/tomcat/rdfizer.log" file:

[code]

[2015-05-04 13:50] idoiamurua commented on #104
I have just changed the LOG level of the RDFizer from INFO to DEBUG to see which triples give that error.

[2015-05-04 13:55] agazzarini commented on #104
Hi Idoia, I'm not in the office today. What kind of format are you trying?
On 4 May 2015 15:50, "Idoia" <notifications@github.com> wrote:

[2015-05-05 06:58] idoiamurua commented on #104
MARCXML

[2015-05-05 07:16] agazzarini commented on #104
Ok, since @emiliano-cammilletti  is already working on that, could you please open a new issue and send him the file you were using?

[2015-05-05 08:17] tpossemato commented on #75
@idoiamurua I'm sending the file with the authority records you required via e-mail. Let me know if it's enough for you.

[2015-05-05 08:18] idoiamurua commented on #75
OK

[2015-05-05 08:19] tpossemato commented on #75
Hi Idoia, attached the file with authority records you required. Let me know if it's enough for you.

Best regards

Tiziana

Da: Idoia [mailto:notifications@github.com]
Inviato: lunedì 4 maggio 2015 12:36
A: ALIADA/aliada-tool
Cc: tpossemato
Oggetto: Re: [aliada-tool] RDF-izer: MARC authority conversion rules (#75)

@tpossemato <https://github.com/tpossemato>  Could you give us examples of the fol

[2015-05-05 08:28] idoiamurua commented on #75
Could you send them in MARC XML? I do not know MARC and I cannot find where the 500 tag is. Sorry.

[2015-05-05 08:34] idoiamurua commented on #75
Leave it Tizziana. I have checked the ".mrk" file and now I can see it more clearly.

[2015-05-05 08:39] tpossemato commented on #75
Perfect. Let me know if it's clear and enough!

[2015-05-05 09:08] idoiamurua commented on #75
=500  1\$(known as):$iKing, Stephen
Is this correct or should it be:

=500  1\$i(known as):$aKing, Stephen

[2015-05-05 09:12] tpossemato commented on #75
The second is correct...
=500 1\$i(known as):$aKing, Stephen
(sorry!)

[2015-05-05 10:55] idoiamurua commented on #75
I would do the mapping using the P3_has_note property, and placing as the property value the concatenation of $i and $a values, separated by a space character.

Here are some examples:

[code]
would be mapped to:
[code]
Another example:
[code]
would be mapped to:
[code]
Moreover, MARC says about 500 tag: "General notes are recorded in field 500 (General Note)".

[2015-05-05 12:04] agazzarini commented on #104
Update on this: I need some more time because although the memory issue has been mitigated the XPATH usage is the main responsible of the performance degrade

[2015-05-06 07:51] xmolero commented on #104
![memory-virtuosoandtomcat](https://cloud.githubusercontent.com/assets/10447860/7489234/ce0c3b54-f3d4-11e4-8d7e-a43f13aa2bb3.png)

Virtuoso doesn´t change the memory, definitely the problem is in Tomcat.

[2015-05-06 08:52] idoiamurua commented on #104
@emiliano-cammilletti
I found the bug that gives the error when inserting the triples in the RDFizer. File "marcxml.frbr.n3.vm" contains the following:
[code]
which should be (remove blank space before the "P"):
[code]
which it was generating the following code in a triple:
[code]

[2015-05-06 11:59] agazzarini commented on #103
I have introduced a simplified + optimized version of XPATH. So beside the ordinary XPath class there's a sibling OXPath.
The performance are very good, orders of magnitude greater than the previous version. I was be able to process 10.000 records in about 1:30 minute (I3 with 8CPU and Xms3000m / Xmx3000m)

[2015-05-06 12:00] agazzarini commented on #103
However, the namespaces support (for LIDO and DC) are still missing, so I'm leaving this issue open

[2015-05-06 14:00] agazzarini commented on #103
Added support for namespaces. Issue is closed as the overall throughtput is now definitely good. As we briefly spoke in the last call, I suggest to feed 1 job with 1 file with a loooot of records.

[2015-05-06 14:00] #103 closed

[2015-05-06 14:09] agazzarini commented on #103
[code]

[2015-05-07 08:08] emiliano-cammilletti commented on #6
Mapping conversion rules completed

[2015-05-07 08:37] idoiamurua commented on #6
@emiliano-cammilletti

I have just checked the PX_ properties used and I think that for the "summary" you use a PX_summary property that does not exist. The mapping should be:

__F24 Expression R5 has component F2 Expression {P2 has type E55 Type = "Summary"}__
[code]

and the text of the summary I suppose that would go the following way:
[code]

[2015-05-07 09:39] emiliano-cammilletti commented on #6
@idoiamurua
It's a bug I will check the problem

[2015-05-07 13:41] agazzarini commented on #104
Issue has been fixed with the last commit. The current implementation attach on the validation channel (which was synchronous) a set of (configurable) consumers, therefore allowing more than one "job" to be validated and passed through the pipeline.

However, having said that, it's important to underline what I already told during the confcall: each job is a massive task that consumes a lot of res

[2015-05-07 13:41] #104 closed

[2015-05-07 13:45] agazzarini commented on #103
Guys, even if the issue is open, I still want to underline the negative impact that the NER process has on the resource usage (RAM, especially). I created 2 implementations of the NER service

- the first is a singleton, which, as we know, needs synchronization. This is bad, but it avoids to load the NER classifiers whcih are not thread-safe and very huge
- the second is a thread-local version, wh

[2015-05-07 14:58] #75 closed

[2015-05-07 15:39] cgareta commented on #103
Andrea, we will discuss this issue next week in Budapest

Thank you

Cristina

De: Andrea Gazzarini [mailto:notifications@github.com]
Enviado el: jueves, 07 de mayo de 2015 15:46
Para: ALIADA/aliada-tool
Asunto: Re: [aliada-tool] RDFizer benchmark (#103)

Guys, even if the issue is open, I still want to underline the negative impact that the NER process has on the resource usage (RAM, especially).

[2015-05-07 15:44] agazzarini commented on #103
Hi Cristina,
the issue has been fixed: I completely rewrote the XPATH engine and now I
processed that file (about 10000 records) in 30 secs. See the issue on
github for more details.

Best,
Andrea

2015-05-07 17:39 GMT+02:00 cgareta <notifications@github.com>:

[2015-05-07 15:45] agazzarini commented on #103
Sorry, re-reading my closing post I see I made a mistake: I meant "Guys,
even if the issue is *closed*"

Best,
Andrea

2015-05-07 17:44 GMT+02:00 Andrea Gazzarini <a.gazzarini@gmail.com>:

[2015-05-07 15:57] cgareta commented on #103
Great!!

De: Andrea Gazzarini [mailto:notifications@github.com]
Enviado el: jueves, 07 de mayo de 2015 17:45
Para: ALIADA/aliada-tool
CC: cgareta
Asunto: Re: [aliada-tool] RDFizer benchmark (#103)

Hi Cristina,
the issue has been fixed: I completely rewrote the XPATH engine and now I
processed that file (about 10000 records) in 30 secs. See the issue on
github for more details.

Best,
Andrea

2015

[2015-05-08 10:32] idoiamurua opened #105 "RDFizer: MARCXML triples generating bug"
@agazzarini , @emiliano-cammilletti

I do not know waht you have changed since yesterday, bu now, when I import a MARC record it generates triples of the following type which give an error when inserting in Virtuoso:
[code]

Moreover, the triples related to the wrong one are only:
[code]

There must be some MARC mapping rule wrong.

By the way, It also gives the following warning in the RDFizer lo

[2015-05-08 11:02] agazzarini commented on #105
Ok @idoiamurua, the warning is something that I fixed yesterday, now the xpath is working better so must probably this record doesn't match the FRBR requirements and therfore the system is not able to detect all the required entities. The fist thing ($concept) is a bug but I'm not understanding: if the system gives you that warning no triples will be produced and Virtuoso won't be contacted at all

[2015-05-11 10:16] idoiamurua commented on #105
Hi @agazzarini @emiliano-cammilletti
Are any of you solving this bug?

@agazzarini
What dose the following error mean?

[code]

[2015-05-11 11:03] agazzarini commented on #105
Hi @idoiamurua the classifier is the training model that the NER service uses to detect entities. It is configured in the rdfizer configuration file, following the procedure described here [1]

Here, the system is saying that the file specified in the configuration (probably you're using the default value) doesn't exist and therefore no NER will happen.

You can find a classifier file under the pr

[2015-05-11 11:03] agazzarini commented on #105
And yes, @emiliano-cammilletti is working on this issue.

[2015-05-11 11:04] idoiamurua commented on #105
Ok. thank you!

[2015-05-11 13:23] idoiamurua opened #106 "RDFizer: LIDO bug"
@agazzarini

I do not know what you have changed last week but now the LIDO mapping does not work.
I found the following error in "infraestructure.log" file:
[code]

Have you tried to RDFize a LIDO record after doing last week´s changes?

[2015-05-11 13:29] agazzarini commented on #106
Ok, that probably has to do with the new XPATH engine: Could you please
fill a bug and send me the file you were trying to index?

Thx
Andrea

On 05/11/2015 03:23 PM, Idoia wrote:

[2015-05-11 13:33] idoiamurua commented on #106
Hi Andrea,

Here I send to you the “infraestruture.log” and the LIDO records file I imported.

Best,
Idoia

De: Andrea Gazzarini [mailto:notifications@github.com]
Enviado el: lunes, 11 de mayo de 2015 15:29
Para: ALIADA/aliada-tool
CC: Murua Belacortu, Idoia
Asunto: Re: [aliada-tool] RDFizer: LIDO bug (#106)

Ok, that probably has to do with the new XPATH engine: Could you please
fill a bug and se

[2015-05-11 14:06] idoiamurua opened #107 "RDFizer: MARC Auth record sample file"
Could anyone send to me one or several MARCXMOL authority records that generate triples in the RDFizer?

Elena has already sent to me two, but they do not generate any triples.

[2015-05-11 14:07] agazzarini commented on #107
Hi Idoia, within the RDFizer project, under src/test/resources there are
several files (If I remember, we have 2 samples for authority)

On 05/11/2015 04:06 PM, Idoia wrote:

[2015-05-11 14:14] idoiamurua commented on #107
I have just imported and RDFized the two samples for authority under the RDFizer project, but it does not generate any triples either.
There are no error logs any where. The "total_triples_produces" filed in the `aliada`.`rdfizer_job_stats` table is 0.

[2015-05-11 14:25] agazzarini commented on #107
Did you create what described in the configuration section? you need

- a new entry on the configuration file
- a new data dir
- the user interface must create a row in the database with all input
data specifying "auth" as format because yes, it is marcxml but the
management is different

As a shortcut you can

a) create a row on the database with, let's say, id 1 and format "auth".
On the datafil

[2015-05-11 18:24] agazzarini commented on #107
I'm closing the issue as I tried as described above and the triples are corrected printed out

(If you want to avoid the connection to Virtuoso, open the "pipeline-definition.xml", go to the end of the file and replace the "add-2-rff-store" with one of the following:

- debugger: a processor that just prints out the outcoming triples
- no-op: a processor that does nothing (the triple are still pro

[2015-05-11 18:24] #107 closed

[2015-05-11 18:25] agazzarini commented on #105
@emiliano-cammilletti as I saw some commit about this issue, if you finished with it, please close the issue.

[2015-05-11 18:26] agazzarini commented on #6
@emiliano-cammilletti as I saw some commit about this issue, if you finished with it, please close the issue.

[2015-05-11 18:27] agazzarini commented on #106
Most probably it is somthing that has been introduced with the new XPATH engine. I will check that tomorrow

[2015-05-11 20:24] agazzarini commented on #106
Issue has been fixed. The cause was a minor bug on the XPATH evaluation in case the expression contains an attribute selector.

[2015-05-11 20:24] #106 closed

[2015-05-12 07:09] idoiamurua opened #108 "RDFizer bug at eu.aliada.rdfizer.pipeline.processors.CheckJobCompleteness"
@agazzarini
Sorry for this bug bombing, but yesterday (with the RDFizer previous version) and today (with the RDFizer latest version), the following error appears in the "infraestructure.log" file:

[code]

[2015-05-12 07:12] emiliano-cammilletti commented on #6
Fix for mapping wrong property PX_summary and $concept

[2015-05-12 07:12] #6 closed

[2015-05-12 07:13] emiliano-cammilletti commented on #105
Fix for mapping wrong property PX_summary and $concept

[2015-05-12 07:13] #105 closed

[2015-05-12 08:15] idoiamurua commented on #107
You mentioned that the following should be done:

* a new entry on the configuration file: Do you mean "auth.input.dir=/work/data/aliada/auth" in "default-pipeline-settings.properties" file? It is already there.
* a new data dir: Do I have to create "/work/data/aliada/auth" folder? It is already created.
* the user interface must create a row in the database with all input
data specifying "auth" a

[2015-05-12 08:23] agazzarini commented on #107
Ok, for the last point: I meant a row for that specific job in
rdfizer_job_instances with "auth" as value in the format column

2015-05-12 10:15 GMT+02:00 Idoia <notifications@github.com>:

[2015-05-12 08:27] idoiamurua commented on #107
OK. That is the problem then!
@xmolero The column "format" in "rdfizer_job_instances" table says now "marcxml" instead of "auth" when importing a MARCXML Authorities file.

[2015-05-12 08:35] agazzarini commented on #107
For each format there's a given value: marcxml, lido, auth, dc

2015-05-12 10:27 GMT+02:00 Idoia <notifications@github.com>:

[2015-05-12 09:05] idoiamurua commented on #107
I am going to correct the following in "auth.frbr.n3.vm" file:

[code]
should be:
[code]

And:
[code]
should be:
[code]

When the entity name starts with E use  `#ecrm` prefix, and if it starts with F use  `#efrbroo` prefix.

[2015-05-12 09:13] eturienzo commented on #107
Ok, the auth format was added to the database

[2015-05-13 10:17] eturienzo commented on #18
The DC is validated

[2015-05-13 10:17] #18 closed

[2015-05-14 09:03] idoiamurua opened #109 "RDFizer bug: MARC BIB 310 tag mapping"
@emiliano-cammilletti
The following MARC BIB record
[code]

generates the following triple which is not correct:
[code]

It is related to the following 310 tag:
[code]

[2015-05-14 09:16] idoiamurua opened #110 "RDFizer bug: MARC BIB 530 tag mapping"
@emiliano-cammilletti
The following MARC BIB record
[code]

generates the following triples which are not correct:
[code]

It should be:
[code]

It is related to the following 530 tag:
[code]

[2015-05-14 09:39] idoiamurua opened #111 "RDFizer bug: skos:prefLabel generated by NER"
@agazzarini

Some triples generated by NER are not correct because the string contains the " character inside it. E.g.:
[code]
This triple is generated by the following MARC BIB record:
[code]

Specifically it gives the following error:
[code]

[2015-05-15 09:11] idoiamurua opened #112 "RDFizer bug: Dublin Core bug when tag is empty"
@agazzarini
When a Dublin Core tag is empty, the RDFizer creates a RDF resource with a URI with no identifier.
I have imported the following DC record:
[code]
It generates for the following DC tag
[code]
the following triples:
[code]

This is an example of what has happenned to me with the "contributor" tag, but I imagine that if there are other records with other tags like this one (e.g.: `<dc:au

[2015-05-22 12:12] idoiamurua opened #113 "RDFizer bug: Dublin Core bug"
When RDFizing the following DC records:
[code]

The RDFizer log shows the following error:

[code]

[2015-06-01 14:21] idoiamurua opened #114 "UI: Change the hard coded REST domain names"
@xmolero
When installing the second version of aliada-tool at MFAB I have realised that the domian name in the REST URL-s is hardcoded as "http://aliada:8080/....". Because of this, It gives errors at MFAB when the UI invokes the RDFizer.
It seems in the fisrt version of aliada-tool it was hard coded as "http://localhost:8080/...", and it worked OK in MFAB.

[2015-06-02 08:15] eturienzo commented on #114
I have done the change on ConversionAction, LinkingAction and PublishAction to invoke http://localhost:8080...

[2015-06-02 12:21] idoiamurua commented on #114
The errors I had in MFAB where not related to the "http://aliada:8080/...." hard coded string. I have just realised that it was realted to the JDK version used by Tomcat. The RDFiser needs JDK 1.8 but Tomcat was running with JDK 1.7. I have just fixed that.

[2015-06-11 08:56] #110 closed

[2015-06-11 08:56] #111 closed

[2015-06-11 08:58] #108 closed

[2015-06-11 10:15] idoiamurua commented on #109
I have tried it again wit the corrections, and the following MARC tag:

[code]

generates the following RDF triples:

[code]

Is that correct?

[2015-06-11 11:09] idoiamurua commented on #112
Could the "break;" statement be replaced with a "continue;" statement.
The reason it that sometimes teh record contains:

[code]

so in this case, with the "break;" statement, only the first contributor is maped into RDF.

[2015-06-11 12:11] agazzarini commented on #112
No, unfortunately not. I will put an if statement

On 06/11/2015 01:09 PM, Idoia wrote:

[2015-06-11 12:12] agazzarini commented on #109
Azz, sorry defintiely not... I missed somthing on what Emiliano did

On 06/11/2015 12:15 PM, Idoia wrote:

[2015-06-11 12:12] agazzarini commented on #109
@idoiamurua Emiliano is no longer working in @Cult so could you please
remove him from the contributors?

On 06/11/2015 12:15 PM, Idoia wrote:

[2015-06-11 12:18] idoiamurua commented on #109
OK. I have just removed Emiliano from Aliada Project team.

[2015-06-11 12:50] agazzarini commented on #112
Ok, fixed

[2015-06-11 12:50] #112 closed

[2015-06-11 13:21] idoiamurua commented on #109
@agazzarini
Have you fixed this?
I have uploaded the latest version of the RDFizer, and now it does not generate any F22_Self-Contained_Expression.

[2015-06-11 13:45] agazzarini commented on #109
I submitted a fix with null-check so now, where you previously saw
"$text" (the expression was null) it is not printing anything

On 06/11/2015 03:21 PM, Idoia wrote:

[2015-06-12 07:31] #113 closed

[2015-06-12 07:41] idoiamurua commented on #109
Yes, but if the input record contains the following tag:

[code]

Shouldn´t it generate at least the following triple:

[code]

[2015-06-12 07:56] idoiamurua commented on #109
I have just been checking the excel file of the MARC mapping and issue https://github.com/ALIADA/aliada-tool/issues/6 where we discussed about this tag and the conclusion is that "tag 310, subfiled a" should be mapped as:

__F22 Self-Contained Expression R3i realises F18 Serial work P3 has note {P3.1 has type E55 Type = “Expected frequency”} E62 String__
[code]

This was one of the mappings that r

[2015-06-15 09:07] idoiamurua commented on #109
@agazzarini
How is this issue?

[2015-06-15 09:11] agazzarini commented on #109
I will check that on friday. I think we can go ahead with the workshop as
the issue is no longer blocking

What do you think?
On 15 Jun 2015 11:07, "Idoia" <notifications@github.com> wrote:

[2015-06-15 09:12] idoiamurua commented on #109
OK. It is just that Cristina is asking when we can publish the 2nd release.

[2015-06-15 17:17] agazzarini commented on #109
Ok errata corrige, my fault: I have to manage that on next monday so I believe that week we could release

[2015-06-16 13:22] xmolero commented on #114
Fixed and commit.

[2015-06-16 13:22] #114 closed

[2015-06-17 10:20] xmolero opened #115 "URIs duplicate"
First of all, I see that the authors are duplicates and the rdfizer is unfiltered
Secondly, the URIs created is the same for different authors. Why?

![authors](https://cloud.githubusercontent.com/assets/10447860/8204761/2921ecc8-14eb-11e5-96ce-072cccd65b77.JPG)

[2015-06-17 10:26] agazzarini commented on #115
@xmolero this is what the GUI is doing...I cannot say what you did there

"rdfizer is unfiltered" what does it mean? What does the screenshot have to do with the RDFizer?

AG

[2015-06-17 10:31] agazzarini commented on #115
Hi @xmolero to be more precise: it would be good, when you fill a bug, assigning or citing someone who is supposed to be in charge  / (at least answer) about that, otherwise it won't be clear for who is the question.

AG

[2015-06-17 10:58] xmolero commented on #115
@agazzarini excuse me! The issue is for you. I say that the rdfizer does wrong the URIs and duplicates the authors. The screenshots is a simple query to show the authors.

[2015-06-17 11:37] agazzarini commented on #115
Send me an email (attachments here I think aren't allowed) with the dataset you've converted. The duplication couldn't be an issue, as the entity detection mainly reasons on fields/subfields equality

[2015-06-21 10:16] agazzarini commented on #115
I also need the query you're doing in that page

[2015-06-22 07:21] xmolero commented on #115
The queries are in this file: https://github.com/ALIADA/aliada-tool/blob/master/aliada/aliada-shared-module/src/main/java/eu/aliada/shared/rdfstore/RDFStoreDAO.java
Here, you have the authors, the objects, the manifestations and the works queries, but if you only need the query that I did in that page is getAuthors method.

[2015-06-22 07:25] idoiamurua commented on #115
The query of the authors for graph `<http://data.artium.org/id/collections/library/bib>` in SPARQL endpoint `http://aliada.scanbit.net:8891/sparql` would be:

[code]

[2015-06-22 08:18] agazzarini commented on #115
Ok, thanks. So now I need the dataset (if that is not huuge, otherwise a small subset containing those authors) you've inserted. I mean, data that you're querying where there are those (duplicated) authors

[2015-06-22 10:18] idoiamurua commented on #115
I have just uploadad the "resultSumaryList.xml" file Xabier sent by e-mail to the `<http://data.artium.org/id/collections/library/bib>` graph in SPARQL endpoint `http://aliada.scanbit.net:8891/sparql`.

[2015-06-22 10:22] idoiamurua commented on #115
Use the following query instead:

[code]

[2015-06-22 17:56] agazzarini commented on #115
Hi @idoiamurua, does the resultSumaryList.xml contains marc records? If so, could you please send me that file? I cannot reproduce this bug so sharing the same data would be useful

[2015-06-22 17:58] agazzarini commented on #109
Ok, I fixed a lot of things, included

- URI creation
- wrong velocity variable
- several null checks

[2015-06-22 17:58] #109 closed

[2015-06-23 08:15] idoiamurua opened #116 "RDFizer bug: Correct PX Aliada properties prefixes in MARC BIB"
MARC is really complex!
I have to open this new issue because I have realised that when the following new ALIADA properties appear in the `marcxml.frbr.n3.vm` mapping file:

[code]

they should be named:
[code]

instead of as it is now being named:
[code]

That is, they should follow the following URI prefix (which is used for Aliada classes/properties):
[code]

instead of (which is used for Aliad

[2015-06-23 15:36] #116 closed

[2015-06-24 08:05] idoiamurua commented on #115
@agazzarini

I have tried again with the same imported MARC BIB file (I have compiled and deployed the new WAR), and two different persons/authors continue appearing with the same URI. See the two selected links in the attached image:

![image](https://cloud.githubusercontent.com/assets/7601333/8325272/5940760a-1a58-11e5-93ea-cf33a1631bde.png)

[2015-06-24 08:09] idoiamurua commented on #115
Doing a query in the SPARQL endpoint, the repeated URI-s are seen better as I have ordered by URI. See attached figure:
![image](https://cloud.githubusercontent.com/assets/7601333/8325330/097d024a-1a59-11e5-82db-1f35c5d13e3e.png)

[2015-06-24 08:14] agazzarini commented on #115
Hi @idoiamurua did you clean the dataset?

On 06/24/2015 10:09 AM, Idoia wrote:

[2015-06-24 08:20] idoiamurua commented on #115
Yes I did. I have tried it again just in case and I get the same result.

[2015-06-24 15:13] agazzarini commented on #115
I'm not able to reproduce the error...each diffenent person gets a different URI in my server

--------------------------------

In addition, I corrected some minor things like the same name with different URIs. This is a really "hairy" stuff, as the label you see in the screenshot couldn0t be the only information that we used to built the URI. So for example, if you have

$aJohn Mess$d1888-

and

[2015-06-25 07:26] idoiamurua commented on #115
Do you think the machine configuration can affect the URI generation?
I have tried it again at aliada.scanbit.net (cleared the graph, uploaded the last built RDFizer WAR, restart tomcat) and it continues generating the same URIs for different actor/names.
I do not understand what it is happenning.

Regarding the issue that diferent actor resources with the same name have different URIs, I understa

[2015-06-25 07:33] idoiamurua commented on #115
I attach an image:

![image](https://cloud.githubusercontent.com/assets/7601333/8349455/36472d72-1b1d-11e5-892f-cfbd9a5c8e8b.png)

[2015-06-25 19:28] agazzarini commented on #115
Theoretically no, as I have the same URIs in my machine (without duplicates)

The UUID function we're using generates a UUID from a given string and starting from the same value you will always get the same result...so that sounds really strange

There should be aomething that happens when the RDFizer processes a lot of records. I tried with a small subset, after isolating those recorda that produ

[2015-06-26 06:58] idoiamurua commented on #115
Did you try that small subset in aliada.scanbit.net machine?
If not, Could you send to me that subset and I make that try?

[2015-06-26 08:14] agazzarini commented on #115
That has nothing to do with the dataset size, or the concurrency. I just tried with the whole dataset, putting a stupid map that remembers each headings => generated URI and another stupid "if" block that prints our a message when a duplicated id (with a different heading) is detected....nothing is printed out :(

[2015-06-26 08:45] agazzarini commented on #115
I just committed a dummy version of ALIADA that prints out only authors and their appellations. Trying into Aliada server...

[2015-06-26 08:49] idoiamurua commented on #115
Are you trying it or do you want me to try it?
Xabier is making changes in aliada.scanbit.net server, so you better wait till Xabier tells you.

[2015-06-26 08:56] agazzarini commented on #115
Ah ok, sorry I didn't see your post...I'm just trying

On 06/26/2015 10:49 AM, Idoia wrote:

[2015-06-26 09:16] agazzarini commented on #115
Ok, I ran the RDFizer directly from the command line. It seems there are no duplicates

http://aliada.scanbit.net:8891/sparql-auth?default-graph-uri=http%3A%2F%2Fdata.artium.org%2Fid%2Fcollections%2Flibrary%2Fbib&query=+PREFIX+rdf%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0D%0A++++++++PREFIX+ecrm%3A+++%3Chttp%3A%2F%2Ferlangen-crm.org%2Fcurrent%2F%3E%0D%0A++++++++PREFIX+efr

[2015-06-26 09:16] agazzarini commented on #115
So, @xmolero or @idoiamurua : could you please run the whole process starting from the user interface?

[2015-06-26 09:16] agazzarini commented on #115
Please do a manual clean of the graph before doing that

[2015-06-26 09:19] agazzarini commented on #115
A little correction: it seems we have some duplicate but only for those headings that result in the same string before being processed by the UUID processor ("Fenosa, Apelles", "Fenosa, Apel les") but this is another thing from this issue

[2015-06-26 09:26] agazzarini commented on #115
Sorry again: that duplicate is right, the system detected that it is the same person

[2015-06-26 09:40] agazzarini commented on #115
@idoiamurua @xmolero I just replaced the dummy (MARC) conversion template with the full version. Now all triples are printed out and, running the RDFizer from the command line:

[code]

I see no duplicates, so I'm closing the issue.

[2015-06-26 09:40] #115 closed

[2015-06-26 11:07] idoiamurua commented on #115
I have just ran the RDFizer from the user interface and now it seems it does not generate any duplicates.
What did you change?

[2015-06-26 11:51] agazzarini commented on #115
I added a further clean up of the velocity context associated to each (converted) record. I actually didn't get how that can influence the duplication but in some way, it did

[2015-06-26 11:53] idoiamurua commented on #115
OK. So you deployed the last WAR of the RDFizer to aliada.scanbit.net machine. Didn´t you?

[2015-06-26 11:54] agazzarini commented on #115
yes

On 06/26/2015 01:53 PM, Idoia wrote:

[2015-06-26 11:54] idoiamurua commented on #115
OK.

[2015-06-29 11:55] idoiamurua commented on #115
@agazzarini
The RDFizer WAR you deployed to Scanbit machine works perfectly, but I have downloaded from Github the lastest changes of the RDFizer, generated the WAR and deployed it to Artium´s machine and when importing MARC BIB and MARC AUTH records, the RDFizer doe not finish and the "infrastructure.log" file contains the following error:

[code]
Did you upload all the changes to Github?

[2015-06-29 11:59] agazzarini commented on #115
Yes, I think you didn't build the shared project

[2015-06-29 12:07] idoiamurua commented on #115
Yes. That is! Thank you!

[2015-06-30 13:49] xmolero opened #117 "Person who has a lot of E67 birth"
The relation was born is wrong. See the previous example:

http://datos.artium.org/describe/?url=http%3A%2F%2Fdatos.artium.org%2Fid%2Fcollections%2Fmuseum%2FE21_Person%2F2e97fc55-7977-3c20-ae82-70d47da96837&graph=http%3A%2F%2Fdatos.artium.org%2Fid%2Fcollections%2Fmuseum&graph=http%3A%2F%2Fdatos.artium.org%2Fid%2Fcollections%2Fmuseum%2Flinks&graph=http%3A%2F%2Fdatos.artium.org%2Fid%2Fcollections%2F

[2015-07-01 10:40] idoiamurua opened #118 "RDFizer: MARC BIB - How titles are generated"
@agazzarini
I have imported the following MARC BIB record:

[code]

and it generates the following triples:
[code]

Look at the last triples.
My question is if the titles are generated correctly, as some of them one of the titles are "2," "2", 2 /" and "2.".

[2015-07-15 07:07] idoiamurua opened #119 "RDFizer: MARC BIB - F3_Manifestation_Product_Type URI generation with tag 001"
@agazzarini
Could you put an exception in the centralized function that generates the unique URIs (UUID) for the  F3_Manifestation_Product_Type of MARC BIB, so that it generates its URI form <marc:controlfield tag="001"> tag?

E.g.:
[code]
[code]

This way, it is possible to deduce the URL in OPAC of these objects and create dereferencing rules from the RDF URI into the OPAC URL.

[2015-07-16 11:55] eturienzo opened #120 "Posibility export/validate Drupal with MARC (OAI)"
ARTium wants to export the artists dossiers, but DC don't allow authorities. We are thinking in the possiblity to export them in MARC Authority. So, we have to export them in MARCXML and
validate the file with OAI-MARC template.

[2015-07-17 12:11] cgareta commented on #120
ARTIUM uses Drupal (content management system for cataloguing and presenting the multimedia collection from the Library) to manage the following type of resources:
- sound recordings
- images
- videos
- dossiers on exhibitions
- biographies of artists and writers

Drupal uses OAI-PMH to export data. Those data must be catalogued according to a standard metadata schema. It only exports the metadata

[2015-07-23 11:19] idoiamurua opened #121 "RDFizer: Add rdfs:label to provide a human-readable version of a resource's name"
The rdfs:label , as it explains in http://www.w3.org/TR/2004/REC-rdf-schema-20040210/#ch_label , may be used to provide a human-readable version of a resource's name.

The CIDOC-FRBRoo ontology we use inside ALIADA ontology is very complex and it does not attach “data properties” directly to these main entities. It always uses the “P1_is_identified by” object property (and its subproperties: P102_

[2015-07-24 19:12] agazzarini commented on #117
@xmolero entity is no longer available. Please provide an input record (possibly 1 record) that generates the wrong triple

[2015-09-04 12:39] #119 closed

[2015-09-04 12:48] agazzarini commented on #121
Problem is that actually we don't manage titles and other entities separately, so we have functions (actually macros) for building triples depending on several kinds of patterns. So the question is: is that ok if we put an rdfs:label beside each P3_has_note?

[2015-09-04 13:00] idoiamurua commented on #121
Do you mean that if we have:

[code]

you would add?

[code]

What we need is:

[code]

[2015-09-04 13:09] agazzarini commented on #121
mmm...how can we generalize such behaviour? We can

a) mapping by mapping decide where to put the rdfs:label...this is a *huge* work
b) decide to put such label only to (for example) titles and names (better)

What do you think?

[2015-09-04 14:57] idoiamurua commented on #121
I think b) option is enough.
How can you distinguish that it is a title/name? By the MARC tag you are processing?

[2015-09-04 15:15] agazzarini commented on #121
yes
On 4 Sep 2015 16:57, "Idoia" <notifications@github.com> wrote:

[2015-09-10 12:32] agazzarini commented on #118
Fixed. The complete mapping has been reviewed as some subfields have to be grouped within the same literal.

[2015-09-10 12:32] #118 closed

[2015-09-10 13:13] idoiamurua commented on #121
Hi Andrea,

I have just pulled the last versión of the RDFizer from Github and tried to compile it, but it has an error in the following file:

OXPath.java

Did you push the correct version to Github?

Best,
Idoia

De: Andrea Gazzarini [mailto:notifications@github.com]
Enviado el: jueves, 10 de septiembre de 2015 14:33
Para: ALIADA/aliada-tool
CC: Murua Belacortu, Idoia
Asunto: Re: [aliada-tool] R

[2015-09-10 14:13] agazzarini commented on #121
I have no errors, that is really strange...could you please paste the stacktrace?

[2015-09-11 07:08] idoiamurua commented on #121
The stacktrace that appears in "infraestructure.log" file is:

[code]

I have generated the rdfizer WAR file in my Eclipse and uploaded to aliada.scanbit.net machine. The thing is that I have just realised that although Eclipse generates the WAR file giving no errors/warnings, I can see when I open `eu.aliada.rdfizer.pipeline.format.xml.OXPath.java` file, that it has an error in line 407 (combine(

[2015-09-11 10:16] idoiamurua commented on #121
Eclipse shows the following errors:

[cid:image001.png@01D0EC8B.A6A9A790]

De: Andrea Gazzarini [mailto:notifications@github.com]
Enviado el: jueves, 10 de septiembre de 2015 16:14
Para: ALIADA/aliada-tool
CC: Murua Belacortu, Idoia
Asunto: Re: [aliada-tool] RDFizer: Add rdfs:label to provide a human-readable version of a resource's name (#121)

I have no errors, that is really strange...could you

[2015-09-11 11:45] idoiamurua commented on #121
I don't have this problem: are you sure you're using Java8 (Windows -->
Preferences --> Installed JRE) and that is set for that project? Could
you please run Maven --> Update Project Conf?

On 09/11/2015 12:16 PM, Murua Belacortu, Idoia wrote:

[2015-09-11 12:33] idoiamurua commented on #121
Yes. Now it is all OK. No errors and it works correctly in aliada.scanbit.net machine.
The JRE in Eclipse was OK (1.8) but the Java Compiler was configured with 1.7 version ...... I have just installed the plug-in of Eclipse to allow compiling with 1.8.
Thank you very much!!!

[2015-09-11 12:36] agazzarini commented on #121
That's great! You're welcome ;)

On 09/11/2015 02:33 PM, Idoia wrote:

[2015-09-14 13:06] idoiamurua commented on #121
@agazzarini

I have done the same for LIDO and DC (lido.n3.vm, VM_global_librray.vm and dc.n3.vm files modified in Github).
Could you do the same for MARC AUTH mapping?
I don´t dare to touch anything of MARC.

[2015-09-14 13:08] agazzarini commented on #121
I did that

On 09/14/2015 03:06 PM, Idoia wrote:

[2015-09-14 13:15] idoiamurua commented on #121
I have just converted an AUTH record which you can access throug http://datos.artium.org/id/collections/library/auth/E21_Person/f8311587-f539-3b0d-82f4-e136a241cf42 and I do not see any rdfs:label.

The input MARC record used is:

[code]

[2015-09-14 13:17] agazzarini commented on #121
Ok, I didn't do for authorities. Only for bib records. I'll do that

On 09/14/2015 03:15 PM, Idoia wrote:

[2015-09-23 12:05] idoiamurua opened #122 "RDFizer: $xpath.many fails when processing a <blahblah/> tag"
@agazzarini
I was just trying to RDFize one LIDO record that Cristina has sent to me, which contains tags of the following type:
[code]
that is, tags that are empty but that according to the LIDO mapping, the RDFizer tries to process them with sentences of the following type:
[code]

The tag is empty, so the "many" function throws an exception because it cannot convert to a NodeList. The exception

[2015-09-23 13:38] idoiamurua commented on #122
The same applies to $xpath.one function. If the input LIDO record contains  `<lido:inscriptionsWrap/>`:
[code]
and I place in the mapping file:

[code]

it throws the same mapping exception, but in the second set (the one with xpath.many)

If I place in the mapping file:
[code]

it throws the same mapping exception, but in the first set (the one with xpath.one)

[code]

[2015-09-25 10:20] idoiamurua commented on #122
@agazzarini
I have just updated the LIDO mapping template to check for the following empty tags:
[code]

in the following way:
[code]

[2015-09-25 10:21] #122 closed

[2015-09-25 10:22] agazzarini commented on #122
Ok, many thanks (sorry for the absence, I'm fighting with a production
issue)

On 09/25/2015 12:20 PM, Idoia wrote:

[2015-10-21 08:09] agazzarini opened #123 "Docker / Vagrant VM"
As outcome of the last meeting we decided to produce such artifact (a VM) for allowing users to have a quick and rapid taste of ALIADA.

@carba: please follow the instructions that you can find in the Wiki and, in case of troubles, first, you should report that here. If we agree that the trouble is an error in the documentation, we will open a separate issue for fixing that.

AG

[2015-10-22 07:18] xmolero opened #124 "Template entities translation"
Hi Andrea,

I need the following translations to Italian:
-	Work
-	Expression
-	Manifestation
-	Item
-	Person
-	Corporate Body
-	Concept
-	Object
-	Event
-	Place
-	Family
-	Dimension
-	Rights

Thank you!

[2015-10-22 07:19] xmolero opened #125 "Template entities translation"
Hi Adam,

I need the following translations to Hungarian:
-	Work
-	Expression
-	Manifestation
-	Item
-	Person
-	Corporate Body
-	Concept
-	Object
-	Event
-	Place
-	Family
-	Dimension
-	Rights

Thank you!

[2015-10-22 07:56] agazzarini commented on #124
@xmolero here it is:

Work=Opera
Expression=Espressione
Manifestation=Manifestazione
Item=Item (it is latin, not english so should be Item in any language)
Person=Persona
Corporate Body=Ente
Concept=Soggetto
Object=Oggetto
Event=Evento
Place=Luogo
Family=Famiglia
Dimension=Dimensione
Rights=Diritti

[2015-10-22 07:56] #124 closed

[2015-10-23 09:20] idoiamurua commented on #123
@carba
I do not know if you have already started the VM generation, if not, do not follow reading this message.

I have updated two things today:
* The "aliada_config_virtuoso.sql" script file description in the Wiki page https://github.com/ALIADA/aliada-tool/wiki/Installation_Guide#step-1-install-and-configure-open-link-virtuoso. I have included one line in the end of it, to add a new resource ty

[2015-10-23 10:20] carba commented on #123
Hi Idoia, don't worry I am creating the environment locally, I haven't yet installed the part that you have changed.

[2015-10-23 10:21] idoiamurua commented on #123
OK Corrado

De: carba [mailto:notifications@github.com]
Enviado el: viernes, 23 de octubre de 2015 12:20
Para: ALIADA/aliada-tool
CC: Murua Belacortu, Idoia
Asunto: Re: [aliada-tool] Docker / Vagrant VM (#123)

Hi Idoia, don't worry I am creating the environment locally, I haven't yet installed the part that you have changed.

—
Reply to this email directly or view it on GitHub<https://github.com/

[2015-10-28 14:28] xmolero commented on #125
-          Work Mű
-          Expression Kifejezési forma
-          Manifestation Megjelenési forma
-          Item Példány
-          Person Személy
-          Corporate Body Testület
-          Concept Fogalom
-          Object Tárgy
-          Event Esemény
-          Place Hely
-          Family Család
-          Dimensions Méret
-          Rights Szellemi tulajdonjog  or just Jogok

[2015-10-28 14:28] #125 closed

[2015-10-29 09:54] xmolero opened #126 "Italian translation"
Italian languages will be added to the user interface in collaboration with @agazzarini .

[2015-10-29 09:54] #126 closed

[2015-10-29 09:56] xmolero opened #127 "Hungarian translation"
Hungarian language will be added to the user interface in collaboration with @HorvathAdam .

[2015-10-29 09:56] #127 closed

[2015-10-29 09:59] xmolero opened #128 "User interface: Update the settings menu in tabs"

[2015-10-29 09:59] #128 closed

[2015-10-29 10:10] xmolero opened #129 "User interface: Update the institution page"

[2015-10-29 10:10] #129 closed

[2015-10-29 10:14] xmolero opened #130 "User interface: Update the users settings page"

[2015-10-29 10:14] #130 closed

[2015-10-29 10:15] xmolero opened #131 "User interface: Update the profile settings page"

[2015-10-29 10:15] #131 closed

[2015-10-29 10:16] xmolero opened #132 "User interface: Update the templeate settings page"

[2015-10-29 10:16] #132 closed

[2015-10-29 10:20] xmolero opened #133 "User interface: Make the dataset and subset settings page"

[2015-10-29 10:20] #133 closed

[2015-10-29 10:21] xmolero opened #134 "User interface: Make the reload external datasets page"

[2015-10-29 10:21] #134 closed

[2015-10-29 10:23] xmolero opened #135 "User interface: Make the page to manage the upload files"

[2015-10-29 10:23] #135 closed

[2015-10-29 10:25] xmolero opened #136 "User interface: Workflow to get any file back"

[2015-10-29 10:26] #136 closed

[2015-10-29 10:27] xmolero opened #137 "User interface: Update the file import page"

[2015-10-29 10:27] #137 closed

[2015-10-29 10:29] xmolero opened #138 "User interface: Update the conversion page"

[2015-10-29 10:29] #138 closed

[2015-10-29 10:31] xmolero opened #139 "User interface: Update the linking page"
Allow to select the external datasets to link.

[2015-10-29 10:31] #139 closed

[2015-10-29 10:36] xmolero opened #140 "User interface: Add dataTables in the queries page"
DataTable is a plugin for jQuery.

[2015-10-29 10:36] #140 closed

[2015-10-29 10:37] xmolero opened #141 "User interface: Update the queries page"

[2015-10-29 10:37] #141 closed

[2015-10-29 10:38] eturienzo opened #142 "Conversion DC files"
I have tried to convert the DC from ARTium and I got this error:

2015-10-29 11:31:59,434 INFO  <RDF-IZER-00046> : Job associated with id 420 consists of 1 records.
2015-10-29 11:31:59,448 INFO  <RDF-IZER-00048> : Job 420 marked as completed.
2015-10-29 11:31:59,468 ERROR <RDF-IZER-00050> : RDF Store failure has been detected. See below for further details.
com.hp.hpl.jena.query.QueryParseExceptio

[2015-10-29 10:39] xmolero opened #143 "User interface: Allow to go to the queries page at the main page"

[2015-10-29 10:39] #143 closed

[2015-10-29 10:42] xmolero opened #144 "User interface: RDFizer validation page"

[2015-10-29 10:42] #144 closed

[2015-10-29 10:44] xmolero opened #145 "User interface: Make the links validation page"
This page shows the ambiguous and all links.

[2015-10-29 10:44] #145 closed

[2015-10-29 10:45] xmolero opened #146 "User interface: Make the publication page"

[2015-10-29 10:46] #146 closed

[2015-10-29 10:46] xmolero opened #147 "User interface: Update the css files"

[2015-10-29 10:46] #147 closed

[2015-10-29 10:48] xmolero opened #148 "User interface: Update the DB scripts"
Update the scripts in collaboration with @idoiamurua  and @eturienzo .

[2015-10-29 10:48] #148 closed

[2015-10-29 10:55] xmolero opened #149 "User interface: Change the ambiguous translations"
Translation revision in collaboration with @HorvathAdam .

[2015-10-29 10:55] #149 closed

[2015-10-29 10:59] idoiamurua opened #150 "CKAN Datahub Page Creation: Add new tags and fields in the dataset page"
Add new tags and fields in the dataset page, so that after applying the LOD cloud validator, a completeness level of 3 is reached.

[2015-10-29 11:00] #150 closed

[2015-10-29 11:02] idoiamurua opened #151 "Linked Data Server: Change some of the URI dereferencing rules"
Change some of the URI dereferencing rules, such as that when accessing for example to the resource: `http://data.szepmuveszeti.hu/id/collections/museum/E18_Physical_Thing/szepmuveszeti.hu_object_29`, the URI remains in the Browser URL input box, and not the URI of the web service that implements the translation of RDF into HTML format.

[2015-10-29 11:02] #151 closed

[2015-10-29 11:14] idoiamurua opened #152 "CKAN Datahub Page Creation: Correct query to get number of links to be inseted in CKAN page"
Correct query to get number of links to be inseted in CKAN page

[2015-10-29 11:14] #152 closed

[2015-10-29 11:17] idoiamurua opened #153 "Linked Data Server: ISQL command files modified to include .jsonld and .nt extensiones"
ISQL command files modified to include .jsonld and .nt extensiones.

[2015-10-29 11:17] #153 closed

[2015-10-29 11:18] idoiamurua opened #154 "Linked Data Server: Corrected subset URI dereferencing parameters referred to subset graphs."
Corrected subset URI dereferencing parameters referred to subset graphs..

[2015-10-29 11:18] #154 closed

[2015-10-29 11:22] idoiamurua opened #155 "Links Discovery: Shared module modified to get the ambiguous discovered links."
Shared module modified to get the ambiguous discovered links.

[2015-10-29 11:23] idoiamurua opened #156 "Links Discovery: Shared module modified to get the ambiguous discovered links."
Shared module modified to get the ambiguous discovered links.

[2015-10-29 11:23] #156 closed

[2015-10-29 11:24] idoiamurua opened #157 "Links Discovery: Selects in Aliada graph chunked (offset, limit clauses)"
Selects in Aliada graph chunked (offset, limit clauses)

[2015-10-29 11:24] #157 closed

[2015-10-29 11:26] idoiamurua opened #158 "Links Discovery: Added reloaSource and reloadTarget options to SILK."
Added reloaSource and reloadTarget options to SILK.

[2015-10-29 11:27] idoiamurua opened #159 "Links Discovery: Update linking configuration files."
Update linking configuration files.

[2015-10-29 11:27] #159 closed

[2015-10-29 11:28] idoiamurua opened #160 "Links Discovery: Added duration field in Links Discovery subjobs."
Added duration field in Links Discovery subjobs.

[2015-10-29 11:28] #160 closed

[2015-10-29 11:28] idoiamurua opened #161 "Links Discovery: Added duration field to LinksDiscovery Job"
Added duration field to LinksDiscovery Job

[2015-10-29 11:28] #161 closed

[2015-10-29 11:29] idoiamurua opened #162 "Corrected Freebase linking file."
Corrected Freebase linking file.

[2015-10-29 11:29] #162 closed

[2015-10-29 11:30] #158 closed

[2015-10-29 11:30] #155 closed

[2015-10-29 11:32] idoiamurua opened #163 "Linked data Server: Create dataset Web page"
Create dataset Web page, shown when accessing the dataset domain URL.

[2015-10-29 11:32] #163 closed

[2015-10-29 12:12] xmolero opened #164 "User interface: ALS plugin"
Aliada plugin development with Librisuite in collaboration with @eturienzo .

[2015-10-29 12:13] #164 closed

[2015-10-29 12:16] xmolero opened #165 "User interface: Aliada - Librisuite RESTful Web Service"

[2015-10-29 12:16] #165 closed

[2015-10-29 12:17] xmolero opened #166 "User interface: Improve the template settings page grouped by entities"

[2015-10-29 12:17] #166 closed

[2015-10-29 12:20] xmolero opened #167 "User interface: Add the author and email fields of the dataset settings page"
To improve the process of publication in the CKAN.

[2015-10-29 12:20] #167 closed

[2015-10-29 12:30] #142 closed

[2015-11-02 10:45] carba commented on #123
Hi Idoia into the istallation guide..... Step 4: Create database tables
When I try to load the first sql into virtuoso, I receive the follow message:
/usr/local/virtuoso-opensource/bin/isql localhost:1111 dba dba 00-aliada-admin.sql;
Connected to OpenLink Virtuoso
Driver: 07.20.3214 OpenLink Virtuoso ODBC Driver

/usr/local/virtuoso-opensource/bin/isql: *** The statement has grown too long on line

[2015-11-02 10:55] idoiamurua commented on #123
Hi Corrado,

You are trying to create the MySQL tables inside Virtuoso ¿?
Those scripts "*.sql" mentioned in Step 4 are MySQL tables. You should have a MySQL DB already installed and then connect to it with a admin user and load those scripts files the following way
` mysql -u adminusername -p < 00-aliada-admin.sql`

Then it will ask you for the admin user password.

[2015-11-02 11:13] carba commented on #123
With the correct mysql-syntax I receive the follow error:
 mysql -u root -p < 00-aliada-admin.sql
Enter password:
ERROR 1064 (42000) at line 4: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '<!DOCTYPE html>
<html lang="en" class=" is-copy-enabled">
  <head prefix="og: ht' at line 1

[2015-11-02 11:23] idoiamurua commented on #123
I wonder if the `00-aliada-admin.sql` file you have downloaded is correct.
Check the value inside your file and the value of the file when connecting to the following UR

https://github.com/ALIADA/aliada-tool/blob/master/aliada/src/site/database/00-aliada-admin.sql

Do they have the same content?
How have you downloaded those files?

[2015-11-02 15:10] carba commented on #123
When I download the files sql, the browser download them in html format (I don't know why).
Anyway now the loading script sql works properly.
Another question:
Where I can find the war user interface? Because in the installation manual there is a dead-link

[2015-11-02 18:25] idoiamurua commented on #123
To download code from https://github.com/ALIADA/aliada-tool, git tool must be installed in your PC and download using it. It cannot be downloaded directly from the Web page, because they are simple HTML pages. Another option is to download 2.1 release at https://github.com/ALIADA/aliada-tool/releases/tag/2.1 , which contains all the code of aliada-tool in compressed format, including the DB script

[2015-11-10 10:32] xmolero commented on #123
Hi @carba ,

Have you finished the VM?

[2015-11-10 11:17] carba commented on #123
Hi @xmolero yes, I finished the vm

[2015-11-10 12:32] idoiamurua commented on #123
@agazzarini , @carba

Could you please add in the section of the Installation Guide of the wiki of Github (https://github.com/ALIADA/aliada-tool/wiki/Installation_Guide) the new option of installing aliada-tool and a link where the VM can be dowloaded from?

This new option of installation should be informed somewhere in Github. Shouldn´t it? or Am I wrong?

[2015-11-10 15:20] carba commented on #123
Hi @idoiamurua,  I created a docker-vm (docker-container) and not a docker-file. I need to create a docker-vm with docker-files to be shared on Git-Hub. Now I'm putting Aliada-docker-conteiner in a ftp space (about 2 Gb), and then I have to recreate the vm docker as required, including the install manual step by step.just the vm Aliada ftp is available share the resource on this bug

[2015-11-10 15:52] agazzarini commented on #123
@carba I believe this option should be documented somewhere in the Wiki
[1]. You should already have the edit permission, in case ask to @idoiamurua

Andrea

[1] https://github.com/ALIADA/aliada-tool/wiki/Installation_Guide

2015-11-10 16:20 GMT+01:00 carba <notifications@github.com>:

[2015-11-12 10:01] carba commented on #123
Hi @agazzarini and @idoiamurua  waiting for the install docker-files, I put the docker vm with aliada in a space accessible through the following link ftp:
address: ftp.atcult.it
auth: aliada / aliada01
port: 21

[2015-11-12 10:40] agazzarini commented on #123
@carba please update the wiki. As a side note, the link should be public

[2015-11-30 08:55] carba commented on #123
Hi @idoiamurua, below the dockerfile for Aliada. Whereas I haven't experience with the use of Aliada,  can you test aliada dockerized like a normal user and tell me if it works properly?

[2015-11-30 08:55] carba commented on #123
# From Centos custom + aliada
# Made by Corrado Arba
# 25/11/2015
# Client version: 1.7.1
# Client API version: 1.19
# OS/Arch (client): linux/amd64
# Server version: 1.7.1
# Server API version: 1.19
# VERSION Docker_File 1.2

# Pull Container and set utf8 + Start aliada
FROM corrado/aliada
RUN echo "LC_CTYPE="en_US.UTF-8"" >> /etc/sysconfig/i18n
RUN cd /script && ./start_aliada.sh
EXPOSE 8080
EXP

[2015-11-30 09:04] carba commented on #123
I put the dockerfile in this path:  aliada-tool/aliada/src/site/DockerFile

[2015-11-30 09:07] idoiamurua commented on #123
Hi @carba
I have no experience with Docker.
What am I supposed to do with that file? Where do I have to place it?

[2015-11-30 09:11] osma commented on #123
I'm also very interested in trying this out and can help test it. I heard about the Docker image last week at the SWIB15 conference, where Cristina Gareta presented ALIADA.

But I'm also new to Docker (though I've used other virtualization environments - VirtualBox, KVM, Xen, QEMU...) and I can't figure out what to do with the DockerFile. I also downloaded the 2GB file from the FTP server mentione

[2015-11-30 09:22] carba commented on #123
Hi @osma and @idoiamurua, our objective is to test Aliada dockerized. The docker-file I posted, allows after you download and install docker server, to download and use/play Aliada dockerized for use/test it. If you are not skilled for docker, I write a mini tutorial step by step, to install docker server and download Aliada-dockerized. So you can test as any user, aliada tell me if Aliada has bee

[2015-11-30 09:27] idoiamurua commented on #123
Yes. It would be nice to have a mini-tutorial.

[2015-11-30 10:45] osma commented on #123
A step-by-step mini-tutorial sounds excellent!

[2015-11-30 13:34] agazzarini commented on #123
+1 for the tutorial. @osma many thanks for your help

[2015-12-08 08:46] osma commented on #123
Hi, I decided not to wait for the tutorial and tried running this myself, while trying to learn Docker at the same time, mainly from the [Docker tutorial for Linux systems](https://docs.docker.com/linux/started/). I started with my Ubuntu 12.04 LTS system and first installed the latest version of Docker using the official [Ubuntu install docs](https://docs.docker.com/engine/installation/ubuntulinu

[2015-12-09 09:50] carba commented on #123
Hi @osma probably the system doesn't see the path corretly. Can you try to replace the step 3:

remove the line "RUN cd /script && ./start_aliada.sh" and insert in the step3 the follw line
RUN sh /script/start_aliada.sh

Let me know, please

[2015-12-10 07:30] osma commented on #123
Thanks for the tip @carba. However, it didn't work:

[code]

I will try other things like running a shell inside the container, I just need to learn a bit more Docker...

[2015-12-10 07:37] osma commented on #123
Ah, the name of the script is `start-aliada.sh`, not `start_aliada.sh`. Changing that already helps, though I haven't yet figured out how to keep it running...

[2015-12-10 08:13] osma commented on #123
Okay, now I almost have it working. But there appears to be a problem with Tomcat.

Here's what I did. I disregarded the Dockerfile, because it appears to be broken from the start (the filename is wrong, and the start command is wrong) and the same things can be done on the docker command line.

First, start up the Docker image in interactive mode (also exposing port 8080 to the host):
[code]

The

[2015-12-10 08:27] osma commented on #123
I made one more desperate attempt to get it working.

First, I installed Java 7 in the container from the CentOS repositories: `yum install java-1.7.0-openjdk`

Then I configured Tomcat to use Java 7 by editing /home/apache-tomcat-7.0.22/bin/start.sh like this:
[code]

Now I can start Tomcat and the front page http://localhost:8080/ shows the Tomcat default page.

But http://localhost:8080/aliada-

[2015-12-10 08:37] osma commented on #123
The ALIADA installation guide says "Apache Tomcat 7.0.50 or above". The version in the container is too old.

I will stop spamming this issue with further comments, I promise...

[2015-12-10 08:52] idoiamurua commented on #123
Yes. That is. It is required:

* Tomcat 7 or above
* Java 8

[2015-12-11 07:14] osma commented on #123
I made yet another desperate attempt getting @carba's Docker image to work, since I figured it would still be easier than starting from scratch.

I installed Tomcat 7.0.65 within the container in parallel to the old version (7.0.22), moved over the WARs, fixed the startup scripts, and copied the database configuration from the old `server.xml` to the new one.

Now I can access the ALIADA user inte

[2015-12-11 07:21] carba commented on #123
Hi @osma, sorry for delay, I'm changing the container docker to solve the problem of startup services, and I am updating the tomcat. Within tuesday I share the new container Aliada for new tests.

[2015-12-11 07:28] osma commented on #123
Thanks @carba. I'll wait for your new image then.

[2015-12-15 09:38] carba commented on #123
Hi @osma I released the new Aliada docker with the changes.
Can you download it with the follow comand:
docker pull corrado/aliada

[2015-12-18 12:12] cgareta opened #168 "Evolve the architecture of ALIADA to permit 3rd party interoperability"
Cultural institutions interested in working with ALIADA and Semantic technology may ask for further development of ALIADA in order to add third party applications to ALIADA to improve the management of the triple data store

[2015-12-18 12:13] cgareta commented on #168
For example, Dydra is a cloud-based graph database that could be integrated with ALIADA

[2015-12-21 08:42] osma commented on #123
Thanks @carba. That didn't quite work (you don't have a `latest` tag):

[code]

However, this worked:
[code]

I ran it using
[code]

Then in the shell I executed `/script/start-aliada.sh` with these results:

[code]

The script refers to a tomcat directory that doesn't exist. I could fix this myself (the directory is really `/home/apache-tomcat-7.0.67`) but I don't have the time to do that right n

[2016-01-11 13:13] osma commented on #123
I tried once more.

I used this command to start the container:

[code]

To fix Tomcat startup problems first I had to change the path in `/script/start-aliada.sh` like this:

[code]

Then I had to change the paths in `/home/apache-tomcat-7.0.67/bin/start.sh` like this:
[code]

After these changes I was able to run `/script/start-aliada.sh` successfully.

Now I fired up my browser at http://localh

[2016-01-11 13:25] carba commented on #123
Hi @osma, I have been fixed the points 1 and 2 a few weeks ago (I need to refresh the repository of aliada). For the jdbc error I need @idoiamurua

[2016-01-11 13:33] osma commented on #123
@carba OK thanks for the update. I'll wait for a solution to the database issue then.

[2016-01-11 13:52] idoiamurua commented on #123
Hi,

As mentioned in the wiki page at https://github.com/ALIADA/aliada-tool/wiki/Installation_Guide#step-5-modules-installation , ALIADA requires a datasource with a JNDI name "jdbc/aliada" defined in the Servlet Engine / Application Server. This is done in Tomcat by placing the following lines in ` context.xml` file:

[code]

[2016-01-21 15:03] osma commented on #123
@idoiamurua Thanks for the clarification. The instructions in the wiki are a bit unclear:

1. The wiki page says that the snippet can go in either `server.xml` or `context.xml`, but is that right? You're saying they should be placed in context.xml. @carba had placed the snippet in server.xml inside the `<Host>` element near the bottom of the file. Should it instead be placed inside the `<GlobalNam

[2016-01-21 15:19] carba commented on #123
Hi @idoiamurua  and @osma  I will be busy until tomorrow to other projects. Monday I will be available to check Aliada into docker until aliada works properly into docker

[2016-01-26 15:39] carba commented on #123
Hi @osma, this piece of code was implemented in the server.xml file rather than in the file context.xml.
Is also necessary to put a reference in the file /etc/hosts  like this:  127.0.0.1 localhost aliada

<Resource name="**jdbc/aliada**"
                     auth="Container"
                     type="javax.sql.DataSource"
                     username="admin" password="admin"

[2016-01-26 15:40] osma commented on #123
Thanks for the update @carba! I look forward to trying a new version of the image.

[2016-01-26 15:44] carba commented on #123
as soon as I finish these changes and the I test them,  I put a new version of Aliada and I warn you ;)

[2016-03-16 12:01] osma commented on #123
@carba Any news about this?

[2016-03-29 08:55] xmolero opened #171 "CKAN module publication error"
Hi Idoia,
I am testing the ALIADA environment.
When I publish the dataset on Datahub, I see the following message in the CKAN log:

2016-03-29 10:24:37,666 ERROR <CKANCreation-00032> : Error converting object.
com.fasterxml.jackson.core.JsonParseException: Unexpected character ('<' (code 60)): expected a valid value (number, String, array, object, 'true', 'false' or 'null')
 at [Source: java.io.St

[2016-03-29 09:01] carba commented on #123
Hi @osma as soon as possible I put the new docker image in the repository. Sorry for delay

[2016-03-29 09:07] idoiamurua commented on #171
Which is the dataset name?

[2016-03-29 09:27] xmolero commented on #171
I test with the two available datasets.

[2016-03-30 07:58] idoiamurua commented on #171
The reason for the error was that the CKAN API URL has changed from:
http://datahub.io/api/action
To:
https://datahub.io/api/action

The new URL should be updated in the `ckan_api_url` column of the `organization` and `ckancreation_job_instances` DB tables.
The CKAN module code has also been updated, so that an SSL connection is stablished

[2016-03-30 07:58] #171 closed

[2016-03-30 08:11] idoiamurua commented on #123
@carba
I have just uploaded some changes of the aliada-ckan-datahub-page-creation module to Github.
It is related to issue #171 .
The reason for these changes are that the CKAN API URL has changed from:
http://datahub.io/api/action
To:
https://datahub.io/api/action

The new URL has been updated in the `ckan_api_url` column of the `organization` DB table.
The CKAN module code has also been updated,

[2016-09-13 07:01] osma opened #172 "RDF-izer build fails due to nxparser 1.2.3 dependency"
Hi, I'm trying to build aliada-tool (current master). I'm using Maven 3.3.9 on an Ubuntu 14.04 machine with OpenJDK 8. I'm running the command `mvn package` in the `aliada` subdirectory.

The build stops at RDF-izer due to a dependency resolution issue:
[code]

The problem is that nxparser 1.2.3 is not available in the Google Code repository anymore (because Google Code has shut down). The project

[2016-09-13 07:20] osma opened #173 "Login fails if browser language is not one of the supported languages"
I've installed Aliada and trying to log in the user interface from my browser (Firefox) using the default credentials `admin`/`admin`.

The login fails with the message "The logon is invalid".

I traced the MySQL query that is used for verifying the credentials. It looks like this:
`160913 10:12:36	   37 Query	select user_name,user_password,org_name, u.user_type_code from aliada.user u INNER JOIN

[2016-09-13 08:20] eturienzo commented on #173
Hi Osma,

That's correct, The application was designed to work with the four languages of the project. We forgot check one of them by default. Sorry.

Regards,

Elena

[2016-09-13 11:14] agazzarini commented on #172
Hi Osma,
many thanks for pointing this. Do you want to provide a patch? Let me
know, otherwise I will change that dependency

Best,
Andrea

On 13/09/16 09:01, Osma Suominen wrote:

[2016-09-13 11:25] osma commented on #172
If you can simply update the dependency, that would help a lot. At this point I'm just exploring and evaluating Aliada and I'm not sure yet whether we will start using it. I was able to get it working with the above workaround, so I don't have a patch ready.

[2016-09-13 11:26] agazzarini commented on #172
ok

On 13/09/16 13:25, Osma Suominen wrote:

[2016-09-15 12:36] idoiamurua opened #174 "Linked Data Server: invoke it when subset created/modified"
I suggest that instead of invoking the Linked Data Server when the RDFizer process ends, it would be better to invoke it when creating/modifying a subset.
I suggest so, because when the RDFizer job finishes, aliada-tool allows the end user to check the generated triples, but the URI-s of those triples are not de-referenceable yet because the Linked data Server module hasn´t been invoked yet at thi

[2016-09-16 08:00] idoiamurua opened #175 "CKAN Datahub Page Creation: Remove semicolon from subset line in VOID file"
There is a bug in the VOID file generation process of the CKAN module.
The following generated line is not correct.
``
void:subset :http://.....
``
There is a semicolon that should be supressed, just before the URL, so that the line should be:
``
void:subset http://.....
``

[2016-09-16 08:04] #175 closed